<% content_for(:title_img) do %>
  <%= image_tag('title-account.png') %>
<% end %>

<div class='row'>
  <div class='span4'>
  </div>
  <%= render 'shared/account_nav' %>
</div>

<div class='authentication'>
  <div class='row'>
    <p class='span4 meta'> 更改用户信息>> </p>
    <%= simple_form_for resource,
      as: resource_name,
      url: registration_path(resource_name),
      html: { class: 'span8 form-horizontal', method: :put } do |f| %>
      <%= devise_error_messages! %>

      <%= f.input :email, required: true %>
      <%= f.input :password, required: true%>
      <%= f.input :password_confirmation, required: true %>

      <%= f.input :current_password, required: true %>

      <div class="form-actions">
        <%= f.button :submit, :sign_up, class: 'button' %>
      </div>
    <% end %>
  </div>
  <div class='row'>
    <p class='span4 meta'> 删除用户信息>> </p>
    <p class='span8'><%= t(:unhappy) %> <%= link_to t(:cancel_my_account), registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

</div>
