<% content_for(:title_img) do %>
  <%= image_tag('title-reg.png') %>
<% end %>

<div class='authentication'>
  <div class='row'>
    <p class='span4 meta'> 通过邮箱注册>> </p>
    <%= simple_form_for resource,
      as: resource_name,
      url: registration_path(resource_name),
      html: { class: 'span8 form-horizontal' } do |f| %>
      <%= devise_error_messages! %>

      <%= f.input :email, required: true %>
      <%= f.input :password, required: true%>
      <%= f.input :password_confirmation, required: true %>
      <%= f.input :name, placeholder: '您的称呼, 以便我们和您联系' %>
      <%= f.input :phone, as: :sf_phone, placeholder: '以便我们和您核对信息'  %>
      <%= f.input :humanizer_answer, label: resource.humanizer_question, required: true %>
      <%= f.hidden_field :humanizer_question_id %>

      <div class="form-actions">
        <%= f.button :submit, t('.sign_up'), class: 'sign-up button' %>
        <%= link_to t(".sign_in"), new_session_path(resource_name), class: 'button-alt' %><br />
      </div>

      <div class='control-group'>
        <div class='controls'>
          <%= link_to t(".forgot_your_password"), new_password_path(resource_name), class:'forget-psw' %>
        </div>
      </div>

    <% end %>

    <%= render 'devise/shared/login_use_oauth' %>

    </div>
</div>
