<% content_for(:title_img) do %>
  <%= image_tag('title-reg.png') %>
<% end %>

<div class='authentication'>
  <div class='row'>
    <p class='span4 meta'> <%= t('.youre_sign_in_with_provider', provider: oauth_data_provider) %> >> </p>
    <%= simple_form_for resource,
      as: resource_name,
      url: new_oauth_user_registration_path,
      html: { class: 'span8 form-horizontal' } do |f| %>
      <%= devise_error_messages! %>

      <%= f.input :email, required: true %>
      <%= f.input :name, input_html: { value: oauth_data_name } %>
      <%= f.input :phone, placeholder: '以便我们和您核对信息' %>

      <div class="form-actions">
        <%= f.button :submit, t('.sign_up'), class: 'sign-up button' %>
      </div>

    <% end %>
    </div>
</div>
