<%# <% content_for :js do %>
<%#   <%= javascript_include_tag "oauth" %>
<%# <% end %>

<div class='authentication'>
  <div class='row'>
    <p class='span4 meta'> <%= t('.youre_sign_in_with_provider', provider: t("devise.oauth_services.providers.#{session[:oauth].provider}")) %> >> </p>
    <%= simple_form_for resource,
      as: resource_name,
      url: new_oauth_user_registration_path,
      html: { class: 'span8 form-horizontal sign-up-oauth' } do |f| %>
      <%= devise_error_messages! %>

      <div class='control-group name-via-oauth'>
        <%= f.label t('.name_via_oauth') %>
        <div class='controls'>
          <%= f.label session[:oauth].info.name %>
        </div>
      </div>

      <%= f.input :email, required: true do %>
        <%= f.text_field :email, autocomplete: 'off', class: 'email required' %>
        <%= image_tag 'loading.gif', class: 'loading' %>
      <% end %>
      <%# <%= f.input :password, required: true %>

      <!-- <div id="user&#45;exist" style="display: none"> -->
      <!--   <div class="form&#45;actions"> -->
      <!--     <%= f.hint t('.email_already_signed_up'), class: 'hint&#45;user&#45;exist' %> -->
      <!--     <%= f.button :submit, t('.sign_in_and_bind'), class: 'sign&#45;in button' %> -->
      <!--   </div> -->
      <!-- </div> -->

      <div id="user-not-exist">
        <%# <%= f.input :password_confirmation, required: true %>
        <%# <%= f.input :name, placeholder: '您的称呼, 以便我们和您联系' %>
        <%= f.input :phone, as: :simple_form_phone, placeholder: '以便我们和您核对信息'  %>

        <div class="form-actions">
          <%= f.button :submit, t('.sign_up_and_bind'), class: 'sign-up button' %>
        </div>
      </div>

    <% end %>
    </div>
</div>
