<%= simple_form_for @reminder, html: { class: 'form-horizontal', id: 'new-reminder'} do |f| %>
  <fieldset>
    <legend>设置预约提醒</legend>
    <%= f.input :email, require:true, placeholder: '我们将发送提醒到您的邮箱' %>
    <%= f.input :send_date, as: :string, placeholder: '我们会在该日期提前2天通知您', required:true, input_html: { class: 'datepicker-full' }  %>
    <%= f.input :note, placeholder: '给自己留个言做提醒吧'  %>
    <% @products.map(&:id).each do |id| %>
      <input name="reminder[product_ids][]" type="hidden" value='<%= id %>'>
    <% end %>
  </fieldset>
  <div class="form-actions">
    <%= f.button :submit, class: 'button' %>
    <%= link_to t(:cancel), :back %>
  </div>
<% end %>
