<%= semantic_form_for [:admin, @order], url: { action: 'update' } do |f| %>
  <%= f.semantic_errors %>

  <%= f.inputs "Sender Info" do %>

    <%= f.fields_for :sender, @order.sender do |builder|%>
      <%= builder.input :name, required:true, placeholder: '您的姓名' %>
      <%= builder.input :email, required:true, placeholder: '以便及时收到订单更新'  %>
      <%= builder.input :phone, as: :formtastic_phone, required:true, placeholder: '以便我们和您核对信息'  %>
    <% end %>
  <% end %>

  <!-- FIXME use helper methods to prepare the collection hash -->
  <%= f.inputs "Delivery Info" do %>
    <%= f.fields_for :address, @order.address do |builder| %>
      <%= builder.input :province_id, prompt: "请选择", collection: @collection_data[:provinces] %>
      <%= builder.input :city_id, prompt: "请选择", collection: @collection_data[:cities] %>
      <%= builder.input :area_id, prompt: "请选择", collection: @collection_data[:areas] %>
      <%= builder.input :address %>
      <%= f.input :bypass_region_validation, as: :boolean %>
      <%= builder.input :post_code %>
      <%= builder.input :fullname %>
      <%= builder.input :phone, as: :formtastic_phone %>
      <%- if ['normal', 'wechat'].include? @order.kind %>
        <%= f.input :enable_instant_delivery, as: :boolean, input_html: { readonly: 'generated' != @order.record.state }%>
      <% end %>
      <%= f.input :expected_date, as: :string, required: true, input_html: { class: 'datepicker' }%>
      <%= f.input :bypass_date_validation, as: :boolean %>
    <% end %>
  <% end %>

  <%= f.inputs "Check Info" do %>
    <%= f.input :delivery_date, as: :string, input_html: { class: 'datepicker' }%>
    <%= f.input :ship_method_id, as: :radio, collection: ShipMethod.all %>
    <%= f.input :prechecked, as: :boolean %>
  <% end %>
  <%= f.actions %>

  <%= f.inputs "Payment Info" do %>
    <%= f.input :adjustment,
      placeholder: '+20.0, -30.0, x1.1, *0.9 etc.',
      input_html: { readonly: !['generated', 'wait_check', 'wait_make'].include?(@order.record.state) },
      hint: 'support multiple calculation(+,-,*,x,%,/), validate format includes "-20.0", "x1.1", "%2" etc.' %>
  <% end %>

  <%= f.inputs "Order Info" do %>
    <%= f.input :source, as: :radio, collection: ["微博", "人人", "豆瓣", "Facebook", "微信", "杂志等平面媒体", "搜索引擎", "朋友推荐", "网络广告", "视频网站", "淘宝", "电视", "其他"] %>
    <%= f.input :kind, as: :radio, collection: Order.kind.options %>
    <%= f.input :merchant_order_no %>
    <%= f.input :last_order %>
    <%= f.input :gift_card_text, as: :text %>
    <%= f.input :special_instructions, as: :text %>
    <%= f.input :memo, as: :text %>
  <% end %>

  <% if ['generated', 'wait_check', 'wait_make'].include?(@order.record.state) %>
    <%= f.inputs "Line Items" do %>
      <%= formtastic_error_messages_for(@order.line_items) %>
      <%= render partial: 'line_item_fields',
                 collection: @order.line_items,
                 locals: {
                    f: f,
                    all_line_items: @collection_data[:line_items]
                  }
      %>
      <li class="input">
        <label class="label"><%= t('views.admin.order.add_product') %></label>
        <%= link_to_add_line_items t('views.admin.order.add_product'), f, @collection_data[:line_items] %>
      </li>
      <%= f.input :bypass_product_validation, as: :boolean %>
    <% end %>
  <% end %>

  <%= f.actions %>
<% end %>
