<%= form_tag(gateway_order_path(order), :method => "post") do %>
  <div class="form-block">
    <legend>选择支付方式</legend>
    <label class="ALIPAY bank-icon">
      <%= radio_button_tag(:pay_info, "directPay", :checked => "checked") %>
    </label>
    <% banks.each do |bank| %>
      <label class="<%= bank %> bank-icon">
        <%= radio_button_tag(:pay_info, bank) %>
      </label>
    <% end %>
    <legend>信用卡支付</legend>
    <label class="PAYPAL bank-icon">
      <%= radio_button_tag(:pay_info, "paypal") %>
    </label>
  </div>
  <div>
    <%= submit_tag "确认支付", class: 'button' %>
  </div>
<% end %>
