<div class="showcase">
		<div class = 'iosSlider'>
			<div class = 'slider'>
        <div class = 'slide'>
          <%= link_to image_tag("slide0.png"), product_path(12) %>
          <div class = 'bg'></div>
          <div class = 'text1'>
            <div class = 'title'>
              <span>卓尔不群</span>
            </div>
            <div class = 'desc'>
              <span>慎独的人，总可以用真诚的简单，对付虚伪的复杂</span>
            </div>
          </div>

          <div class = 'text2'>
            <div>
              <%= link_to '产品详情', product_path(12), class: 'tintButton' %>
            </div>
          </div>
        </div>


        <div class = 'slide'>
          <%= link_to image_tag("slide1.png"), product_path(13) %>
          <div class = 'bg'></div>
          <div class = 'text1'>
            <div class = 'title'>
              <span>庄生晓梦</span>
            </div>
            <div class = 'desc'>
              <span>蝴蝶飞舞，晓梦庄生</span>
            </div>
          </div>

          <div class = 'text2'>
            <div>
              <%= link_to '产品详情', product_path(13), class: 'tintButton' %>
            </div>
          </div>
        </div>

        <div class = 'slide'>
          <%= link_to image_tag("slide2.png"), product_path(14) %>
          <div class = 'bg'></div>
          <div class = 'text1'>
            <div class = 'title'>
              <span>因为爱情</span>
            </div>
            <div class = 'desc'>
              <span>不论时间，不论空间，继续，只因爱情</span>
            </div>
          </div>

          <div class = 'text2'>
            <div>
              <%= link_to '产品详情', product_path(14), class: 'tintButton' %>
            </div>
          </div>
        </div>

        <div class = 'slide'>
          <%= link_to image_tag("slide3.png"), product_path(16) %>
          <div class = 'bg'></div>
          <div class = 'text1'>
            <div class = 'title'>
              <span>童话王国的盛典</span>
            </div>
            <div class = 'desc'>
              <span>童话般的梦境，总是充满了缤纷的色彩，丰收的喜悦和自由的灵魂</span>
            </div>
          </div>

      <div class = 'text2'>
        <div>
          <%= link_to '产品详情', product_path(16), class: 'tintButton' %>
        </div>
      </div>
    </div>
  </div>

      <div class="sliderNavi">
        <span class="naviItem">1</span>
        <span class="naviItem">2</span>
        <span class="naviItem">3</span>
        <span class="naviItem">4</span>
      </div>
			<div class = 'prev sliderArrow'></div>
			<div class = 'next sliderArrow'></div>
		</div>
</div>

<div class="row">
  <div class="home-banner span4">
    <%= link_to image_tag("banner0.png"), product_path(19) %>
    <%= link_to '产品详情', product_path(19), class: 'readmore' %>
  </div>
  <div class="home-banner span4">
    <%= link_to image_tag("banner1.png"), product_path(18) %>
    <%= link_to '产品详情', product_path(18), class: 'readmore' %>
  </div>
  <div class="home-banner span4">
    <%= link_to image_tag("banner2.png"), product_path(15) %>
    <%= link_to '产品详情', product_path(15), class: 'readmore' %>
  </div>
</div>
<div class="clear"></div>
