<%= simple_form_for @offline_order_form, url: { action: 'back_order_create' }, html: { class: 'form-horizontal', id: 'new-order' } do |f| %>
  <%= simple_form_error_messages_for(@offline_order_form.line_items) %>
  <fieldset>
    <legend>订单信息</legend>
    <%= f.input :created_at, as: :string, required: false, input_html: { class: 'datepicker-full', value: @offline_order_form.created_at || Date.current }%>
    <%= f.input :paymethod, as: :radio_buttons, required: true, placeholder: '付款方式', collection: { '现金支付' => 'cash', 'POS机刷卡支付' => 'pos' } %>
    <%= f.input :adjustment,
      placeholder: '价格调整 +20.0, -30.0, x1.1, *0.9 etc.',
      hint: 'support multiple calculation(+,-,*,x,%,/), validate format includes "-20.0", "x1.1", "%2" etc.' %>
    <%= f.input :coupon_code, placeholder: '如果您有优惠券，请在这里填写' %>
    <%= f.input :kind, as: :radio_buttons, required: true, collection: { '线下店' => :offline }, checked: 'offline' %>
  </fieldset>
  <fieldset>
    <legend>递送信息</legend>
    <%= f.input :ship_method_id, as: :radio_buttons, required: false, collection: ShipMethod.all, hint: express_query_links.html_safe %>
    <%= f.input :expected_date, as: :string, required: false, input_html: { class: 'datepicker' }, placeholder: '寄给TA的时间' %>
    <%= f.input :bypass_date_validation, as: :boolean %>
    <%= f.input :delivery_date, as: :string, required: false, input_html: { class: 'datepicker-full' }%>

    <%= f.fields_for :address, @offline_order_form.address do |builder|%>
      <%= builder.input :fullname, required: false, placeholder: '收件人姓名' %>
      <%= builder.input :phone, as: :simple_form_phone, required: false, placeholder: '收件人联系方式'  %>
      <%= builder.input :province_id, collection: [], prompt: "请选择", required: false, hint: "如遇递送地址无法选择，请联系客服电话：400-087-8899", input_html: { 'data-placeholder' => '请选择', class: 'chosen' } %>
      <%= builder.input :city_id, required: false do %>
        <%= builder.input_field :city_id , collection: [], 'data-placeholder' => '请选择', class: 'chosen' %>
        <%= image_tag('loading.gif', class: 'loading') %>
      <% end %>
      <%= builder.input :area_id do %>
        <%= builder.input_field :area_id , collection: [], 'data-placeholder' => '请选择', class: 'chosen' %>
        <%= image_tag('loading.gif', class: 'loading') %>
      <% end %>
      <%= builder.input :address, as: 'text', required: false, input_html: { rows: 3 }, placeholder: '详细地址' %>
      <%= builder.input :post_code, placeholder: '邮编', hint: %(<a id='query-postcode' href="#" target='_blank'>查询邮编</a>).html_safe %>
      <%= f.input :bypass_region_validation, as: :boolean %>
      <%= f.input :bypass_product_validation, as: :boolean %>
    <% end %>
  </fieldset>
  <div class="form-actions">
    <%= f.button :submit, class: 'button next-step' %>
    <%= link_to t('cancel'), current_order_path %>
  </div>
<% end %>
