<%= simple_form_for @order, url: { action: 'back_order_create' }, html: { class: 'form-horizontal', id: 'new-order' } do |f| %>
  <div class="control-group error section-error">
    <%= f.full_error :line_items %>
  </div>
  <fieldset>
    <legend>订单信息</legend>
    <%= f.input :gift_card_text, input_html: { rows: 3 }, placeholder: '我们可以代您书写给TA的话，请注明落款哦！' %>
    <%= f.input :special_instructions, input_html: { rows: 3 }, placeholder: '您可将一些特殊要求罗列与此，我们将尽力满足您的要求。' %>
    <%= f.input :type, as: :radio, required: true, prompt: :marketing, collection: {'媒体订单' => :marketing, '顾客订单' => :customer} %>
  </fieldset>
  <fieldset>
    <legend>递送信息</legend>
    <%= f.input :ship_method_id, as: :radio, required: true, collection: ShipMethod.all %>
    <%= f.input :expected_date, as: :string, required: true, input_html: { class: 'datepicker' }, placeholder: '寄给TA的时间' %>
    <%= f.input :delivery_date, as: :string, required: true, input_html: { class: 'datepicker-full' }%>

    <%= f.fields_for :address do |builder|%>
      <%= builder.input :fullname, require:true, placeholder: '收件人姓名' %>
      <%= builder.input :phone, required:true, placeholder: '收件人联系方式'  %>
      <%= builder.association :province, collection: proc { Province.available }, prompt: "请选择省份", required:true %>
      <%= builder.association :city, collection: [], prompt: "请选择城市", required:true %>
      <%= builder.association :area, collection: [] %>
      <%= builder.input :post_code, placeholder: '邮编', required: true %>
      <%= builder.input :address, as: 'text', required:true, input_html: { rows: 3 }, placeholder: '详细地址' %>
    <% end %>
  </fieldset>
  <div class="form-actions">
    <%= f.button :submit, class: 'button' %>
    <%= link_to t('cancel'), current_order_path %>
  </div>
<% end %>
