<%= simple_form_for @order_admin_form, url: { action: 'channel_order_create' }, html: { class: 'form-horizontal', id: 'new-order' } do |f| %>
  <%= simple_form_error_messages_for(@order_admin_form.line_items) %>
  <fieldset>
    <legend>您的个人信息</legend>
    <%= f.fields_for :sender, @order_admin_form.sender do |builder|%>
      <%= builder.input :name, required:true, placeholder: '您的姓名' %>
      <%= builder.input :email, required:true, placeholder: '以便及时收到订单更新'  %>
      <%= builder.input :phone, as: :simple_form_phone, required:true, placeholder: '以便我们和您核对信息'  %>
    <% end %>
  </fieldset>

  <fieldset>
    <legend>订单信息</legend>
    <%= f.input :adjustment,
      placeholder: '价格调整 +20.0, -30.0, x1.1, *0.9 etc.',
      hint: 'support multiple calculation(+,-,*,x,%,/), validate format includes "-20.0", "x1.1", "%2" etc.' %>
    <%= f.input :coupon_code, placeholder: '如果您有优惠券，请在这里填写' %>
    <%= f.input :gift_card_text, as: :text, input_html: { rows: 3, maxlength: 100 }, placeholder: '我们可以代您书写给TA的话，请注明落款哦！', hint: '100字以内哦' %>
    <%= f.input :special_instructions, as: :text, input_html: { rows: 3 }, placeholder: '您可将一些特殊要求罗列与此，我们将尽力满足您的要求。' %>
    <%= f.input :kind, as: :radio_buttons, required: true, collection: {
        '淘宝' => :taobao,
        '喜瓜网' => :xigua,
        '腾讯' => :tencent,
        '京东' => :jd,
        'B2B订单' => :b2b,
        '甫田订单' => :fieldschina
        } %>
    <%= f.input :merchant_order_no %>
    <%= f.hidden_field :source %>
  </fieldset>

  <fieldset>
    <div class="control-group string optional">
      <label class="string optional control-label" for="merchant_trade_no">支付宝交易号</label>

      <div class="controls">
        <input class="string optional" id="merchant_trade_no" name="merchant_trade_no" type="text">
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>递送信息</legend>
    <%= f.input :ship_method_id, as: :radio_buttons, required:true, collection: ShipMethod.all, hint: express_query_links %>
    <%= f.input :expected_date, as: :string, required:true, input_html: { class: 'datepicker-full' }, placeholder: '寄给TA的时间' %>
    <%= f.input :bypass_date_validation, as: :boolean %>
    <%= f.input :delivery_date, as: :string, required: true, input_html: { class: 'datepicker-full' }%>

    <%= f.fields_for :address, @order_admin_form.address do |builder|%>
      <%= builder.input :fullname, required: true, placeholder: '收件人姓名' %>
      <%= builder.input :phone, as: :simple_form_phone, required: true, placeholder: '收件人联系方式'  %>
      <%= builder.input :province_id, collection: [], prompt: "请选择省份", required:true, hint: "如遇递送地址无法选择，请联系客服电话：400-087-8899." %>
      <%= builder.input :city_id, collection: [], prompt: "请选择城市", required:true %>
      <%= builder.input :area_id, collection: [] %>
      <%= builder.input :post_code, placeholder: '邮编', required: true, hint: %(<a id='query-postcode' href="#" target='_blank'>查询邮编</a>) %>
      <%= builder.input :address, as: 'text', required:true, input_html: { rows: 3 }, placeholder: '详细地址' %>
      <%= f.input :bypass_region_validation, as: :boolean %>
      <%= f.input :bypass_product_validation, as: :boolean %>
    <% end %>
  </fieldset>
  <div class="form-actions">
    <%= f.button :submit, class: 'button next-step' %>
    <%= link_to t('cancel'), current_order_path %>
  </div>
<% end %>
