<div class='row'>
  <div class='span4 checkout-back'>
    <%= link_to '返回订单', :back %>
  </div>
  <ul id='checkout-nav' class='info-nav span8'>
    <li class='<%= current_if_action('new', 'create') %>'>
    <%= t(:address_and_info) %> 
    </li>
    <li class='<%= current_if_action('checkout') %>'>
    <%= t(:choose_pay_method) %>
    </li>
    <li class='<%= current_if_action('return') %>'>
    <%= t(:paid) %>
    </li>
  </ul>
</div>
