<%= simple_form_for @order, html: { class: 'form-horizontal', id: 'new-order'} do |f| %>
  <div class="control-group error section-error">
    <%= f.full_error :line_items %>
  </div>
  <%= f.input :delivery_date, as: :string, required:true, input_html: { class: 'datepicker' }, placeholder: '寄给TA的时间' %>

  <%= f.fields_for :address do |builder|%>
    <%= builder.input :fullname, require:true, placeholder: '收件人姓名' %>
    <%= builder.input :phone, required:true, placeholder: '收件人联系方式'  %>
    <%= builder.association :province, :prompt => "请选择省份", required:true %>
    <%= builder.association :city, :collection => [], :prompt => "请选择城市", required:true %>
    <%= builder.association :area, :collection => [] %>
    <%= builder.input :post_code, placeholder: '邮编' %>
    <%= builder.input :address, as: 'text', required:true, input_html: { rows: 3 }, placeholder: '详细地址' %>
  <% end %>

  <%= f.input :gift_card_text, input_html: { rows: 3 }, placeholder: '你想对TA说的话' %>
  <%= f.input :special_instructions, input_html: { rows: 3 }, placeholder: '有其他要求么?' %>

  <div class="form-actions">
    <%= f.button :submit, class: 'button' %>
    <%= link_to t(:cancel), current_order_path %>
  </div>
<% end %>
