<tr>
  <td>
    <%= link_to order.identifier, order_path(order) %>
  </td>
  <td>
    <%= order.created_at %>
  </td>
  <td>
    <%= order.state %>
  </td>
  <td>
    <%= order.total %>
  </td>
  <td>
    <% order.products.each do |p| %>
      <div>
        <%= link_to p.name, product_path(p) %>
        <%= image_tag p.img(:thumb) %>
      </div>
    <% end %>
  </td>
  <td>
    <% if order.state == 'generated'%>
      <%= link_to 'pay', checkout_order_path(order) %>
    <% end %>

    <% if order.cancel_allowed? %>
      <%= link_to 'cancel', checkout_order_path(order) %>
    <% end %>

    <% if order.state == 'wait_confirm' %>
      <%= link_to 'confirm', checkout_order_path(order) %>
    <% end %>

    <%= link_to 'view', order_path(order) %>
  </td>
</tr>
