<tr class="state-<%= order.state %>">
  <td>
    <%= link_to order.identifier, order_path(order) %>
  </td>
  <td>
    <%= l order.created_at, format: :short %>
  </td>
  <td>
    <%= t('models.order.state.' + order.state) %>
  </td>
  <td>
    <%= order.total %>
  </td>
  <td>
    <% order.products.each do |p| %>
      <div>
        <%= link_to p.name, product_path(p) %>
        <%= image_tag p.img(:thumb) %>
      </div>
    <% end %>
  </td>
  <td>
    <% if order.state == 'generated'%>
      <%= link_to t('models.order.state.pay'), checkout_order_path(order) %>
    <% end %>

    <!--
    <% if order.cancel_allowed? %>
      <%= link_to t('models.order.state.cancel'), cancel_order_path(order), method: 'put' %>
    <% end %>
    -->

    <% if order.state == 'wait_confirm' %>
      <%= link_to t('models.order.state.confirm'), checkout_order_path(order) %>
    <% end %>

    <%= link_to t(:view), order_path(order) %>
  </td>
</tr>
