<% content_for(:title_img) do %>
  <%= image_tag('title-checkout.png') %>
<% end %>

<%= render 'checkout_nav' %>

<div class='row'>
  <div class="span4">
    <%= render 'side_order_table', order: @order %>

    <div id="order-addr">
      <p><%= t(:ta_address) %></p>
      <%= @order.address.full_addr %>
      <%= @order.address.fullname %>
      <%= @order.address.phone %>
    </div>
  </div>

  <div class="span8">
    <ul id='checkout-nav'>

    </ul>

    <div id='checkout-form'>
      <%= render 'shared/choose_payment_method', banks: @banks, order: @order %>
    </div>
  </div>
</div>
<%= render 'notice' %>
