<% content_for(:title_img) do %>
  <%= image_tag('title-basket.png') %>
<% end %>

<div class="row" id="cart-content">
  <% if @products.blank? %>
    <p>
      您的花篮还是空的, 请去 <%= link_to '花市', root_path %> 开始采购.
    </p>
  <% else %>
    <table class='item-table cart-table table table-striped table-hover'>
      <thead>
        <tr>
          <th class="image"></th>
          <th class="name"><%= t('name') %></th>
          <th class="price"><%= t('price') %></th>
          <th class="quantity"><%= t('views.order.quantity') %></th>
          <th class="total"><%= t('total') %></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'product_in_cart', collection: @products %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan='4'><%= t('views.order.in_total') %></td>
          <td><%= count_cart(@products) %></td>
        </tr>
      </tfoot>
    </table>
  <% end %>
</div>

<% unless @products.blank? %>
  <div class="order-actions">
    <%= link_to t(:back), :back, class: 'checkout button-alt' %>
    <%= link_to t('views.order.checkout'), new_order_path, class: 'checkout button' %>
    <% if current_administrator %>
      <%= link_to t('views.order.back_checkout'), new_back_order_path, class: 'checkout button' %>
      <%# <%= link_to t('views.order.taobao_checkout'), new_taobao_order_path, class: 'checkout button' %> %>
    <% end %>
  </div>
<% end %>

<% unless @related_products.blank? || @products.blank? %>
  <div class="suggestion-on-current">
  <p><%= t('views.order.you_may_also_like') %></p>
  <ul class="suggestion-list">
    <% @related_products.each do |product| %>
      <li class="suggestion-cell">
    <%= link_to image_tag(product.img(:medium), width: '100'), product_path(product), title: product.name, :target => "_blank" %>
    <div class='suggestion-click-to-cart'>
      <%= link_to_add_row_partial t('views.order.click_to_cart'), current_order_path, product, 'product_in_cart' %>
    </div>
    <div class='suggestion-link'>
      <%= link_to product.name, product_path(product), :target => "_blank" %>
    </div>
    </li>
  <% end %>
  </ul>
</div>
<% end %>

<div class="row cart_foot">
  <div class="span4">
    <p> 客服工作时间（周日及法定节假日休息）： </p>
    <p> 工作日：<b>10:00 - 18:30</b> </p>
    <p> 非工作日：<b>10:30 - 18:00</b> </p>
  </div>

  <div class="span4">
    <p> 如有任何问题, 请联系客服电话：400-001-6936 </p>
    <p> 或发送邮件至 <%= mail_to 'support@hua.li', 'support@hua.li' %> </p>
  </div>
</div>
