<div class="row title">
  <%= image_tag('title-basket.png') %>
</div>

<div class="row">
  <% if @products.blank? %>
    <p>Empty Cart</p>
  <% else %>
    <table class='item-table table table-striped table-hover'>
      <thead>
        <tr>
          <th class="image"></th>
          <th class="name">name</th>
          <th class="price">price</th>
          <th class="quantity">quantity</th>
          <th class="total">total</th>
        </tr>
      </thead>
      <tbody>
      <% @products.each do |product| %>
            <tr>
              <td class="image"><%= image_tag product.assets.first.image.url(:medium), width: '150' %></td>
              <td class="name"><%= link_to product.name, product_path(product) %></td>
              <td class="price"> <%= number_to_currency product.price, unit: '&yen;'  %> </td>
              <td class="quantity">
                  <%= link_to icon('plus'), current_order_path, data: { product: product.id }, class: 'add_quantity trigger' %>
                  <input type='text' value="<%= product[:quantity] %>">
                  <%= link_to icon('minus'), current_order_path, data: { product: product.id }, class: 'reduce_quantity trigger' %>
              </td>
              <td class="total"> <%= count_total(product) %> </td>
            </tr>
      <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan='4'>共计</td>
          <td><%= count_cart(@products) %></td>
        </tr>
      </tfoot>
    </table>
  <% end %>
</div>

<div class="row cart_foot">
  <div class="span4">
    <p> 由于鲜花的特殊性，现阶段我们仅提对江浙沪皖的订单，我们将采用联邦快递为您运送相应货品。 客服工作时间（周日及法定节假日休息）：
    </p>
    <p>
      工作日：<b>10:00 - 18:30</b>
    </p>
    <p>
      非工作日：<b>10:30 - 18:00</b>
    </p>
  </div>

  <div class="span4">
    <p>
      非工作时间的订单，我们会在第二天上班后跟您取得联系 如有任何问题
    </p>
    <p>
      请联系客服电话：400-001-6936
    </p>
    <p>
    或发送邮件至
    <%= mail_to 'support@hua.li', 'support@hua.li' %>
    </p>
  </div>

  <% unless @products.blank? %>
    <div class="span4 actions">
      <%= link_to 'return', root_path, :class => 'checkout button-alt' %>
      <%= link_to 'checkout', new_order_path, :class => 'checkout button' %>
    </div>
  <% end %>
</div>
