<div class="collection-wrapper">
  <div class="products row">
    <% if @products.empty? %>
      <p>Empty Cart</p>
    <% else %>
      <% @products.each do |product| %>
        <div class="product span3">
          <div class="product-image">
            <a href=<%= product_path(product.id) =%> title="Nice Flowers"><%= image_tag product.assets.first.image.url(:medium) %></a>
          </div>
          <div class="new-description">
            <h3><a href=<%= product_path(product.id) =%> title="Fashion Demo Flowers"><%= product.name %></a></h3>
            <div class="price-box">
              <a href='/order'><button type="button" class="button btn-cart"><span>点击购买</span></button></a>
              <% unless product.original_price.nil? %>
              <p class="old-price">
                <span class="price" id="old-price"> ￥<%= product.original_price %> </span>
              </p>
              <% end %>
              <p class="special-price">
                <span class="price" id="product-price">￥<%= product.price %> </span>
              </p>
              <p class="product-quantity">
                Quantity: 
                <span class="quantity" id="product-quantity"><%= product[:quantity] %> </span>
                <%= link_to 'add', current_order_path, data: { product: product.id }, class: 'add_quantity' %>
                <%= link_to 'reduce', current_order_path, data: { product: product.id }, class: 'reduce_quantity' %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= link_to 'checkout', new_order_path, class: 'checkout' %>
</div>
