<% content_for(:title_img) do %>
  <%= image_tag('title-account.png') %>
<% end %>

<% if @orders.empty? %>
  <p>You have no Order</p>
<% else %>
  <div class='row'>
    <div class='span4'>
    </div>
    <%= render 'shared/account_nav' %>
  </div>

  <div id="order-summary" class='row'>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th><%= t(:identifier) %></th>
          <th><%= t(:created_at) %></th>
          <th><%= t(:state) %></th>
          <th><%= t(:total) %></th>
          <th><%= t(:order_content) %></th>
          <th><%= t(:action) %></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'order', collection: @orders %>
      </tbody>
    </table>
  </div>
<% end %>

