<% content_for(:title_img) do %>
  <%= image_tag('title-account.png') %>
<% end %>

<div class='row'>
  <%= render 'shared/account_nav' %>
</div>
<% if @orders.blank? %>
  <div class='row' id='cart-content'>
    <p>
      您还没有任何订单, 请去 <%= link_to '花市', root_path %> 开始采购.
    </p>
  </div>
<% else %>
  <div id="order-summary" class='row'>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th><%= t('activerecord.attributes.order.identifier') %></th>
          <th><%= t('activerecord.attributes.order.created_at') %></th>
          <th><%= t('activerecord.attributes.order.state') %></th>
          <th><%= t('activerecord.attributes.order.total') %></th>
          <th><%= t('activerecord.attributes.order.order_content') %></th>
          <th><%= t('action') %></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'order', collection: @orders %>
      </tbody>
    </table>
  </div>
<% end %>

