<p>This is the line items information</p>

<%= semantic_form_for @order do |f| %>

  <%= f.semantic_fields_for :address_attributes do |address, i| %>
    <%= address.input :fullname %>
    <%= address.input :phone %>
    <%= address.input :province_id, :collection => Hash[Province.all.map { |col| [col.name, col.id] }] %>
    <%= address.input :city_id, :collection => Hash[City.all.map { |col| [col.name, col.id] }] %>
    <%= address.input :area_id, :collection => Hash[Area.all.map { |col| [col.name, col.id] }] %>
    <%= address.input :address %>
    <%= address.input :post_code %>
  <% end %>

  <%= f.input :delivery_date %>
  <%= f.input :gift_card_text %>
  <%= f.input :special_instructions %>

  <%= f.actions do %>
    <%= f.action :submit, :as => :button %>
    <%= f.action :cancel, :as => :link %>
  <% end %>
<% end %>
