<% content_for(:css) do %>
  <%= stylesheet_link_tag "jquery.ui.datepicker" %>
<% end %>

<% content_for(:js) do %>
  <%= javascript_include_tag "datepicker-settings" %>
  <%= javascript_include_tag "prov_city_area_update" %>
<% end %>

<% content_for(:title_img) do %>
  <%= image_tag('title-checkout.png') %>
<% end %>

<%= render 'checkout_nav' %>

<div class='row'>
  <div class="span4">
    <%= render 'side_item_table', items: @products, title: t(:basket) %>

    <% unless @related_products.blank? %>
      <table class='table suggest-table suggestion-on-checkout'>
      <thead>
        <tr>
          <th colspan='3'><%= t('views.order.you_may_also_like') %></th>
        </tr>
      </thead>
      <tbody>
      <% @related_products.each do |item| %>
        <tr class='suggestion-cell'>
        <td class="image"><%= image_tag item.img(:thumb) %></td>
        <td class="content">
          <p>
          <%= link_to item.name, product_path(item) %>
          </p>
        </td>
        <td>
          <div class='suggestion-click-to-cart'>
            <%= link_to_add_row_partial t('views.order.click_to_cart'), new_order_path, item, 'side_item_row' %>
          </div>
        </td>
      </tr>
    <% end %>
      </tbody>
    </table>
  <% end %>
  </div>

  <div class="span8">
    <div id='checkout-form'>
      <%= render 'form' %>
    </div>
  </div>
</div>
<%= render 'notice' %>
