<% content_for(:title_img) do %>
  <%= image_tag('title-account.png') %>
<% end %>

<div class='row'>
  <%= render 'shared/account_nav' %>
</div>

<div id="order-summary" class='row'>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td>
          <strong><%= t('activerecord.attributes.order.identifier') %></strong>: <%= @order.identifier %>
        </td>
        <td>
          <strong><%= t('activerecord.attributes.order.state') %></strong>: <%= t('models.order.state.' + @order.state) %>
        </td>
        <td>
          <strong><%= t('activerecord.attributes.order.created_at') %></strong>: <%= l @order.created_at, format: :short %>
        </td>
        <td>
          <strong><%= t('activerecord.attributes.order.expected_date') %></strong>: <%= l @order.expected_date, format: :short %>
        </td>
      </tr>
    </tbody>
  </table>

</div>

<% if @order.state == 'generated' %>
  <%= render 'actions' %>
<% end %>

<div id='order-info' class='row'>
  <h3><span><%= t('views.order.order_info') %></span></h3>
  <table class='table'>
    <tbody>
      <tr>
        <td rowspan='3'><strong><%= t('activerecord.attributes.order.receiver_info') %></strong></td>
        <td><%= t('activerecord.attributes.order.receiver_fullname') %>: <%= @order.address.fullname %></td>
      </tr>
      <tr>
        <td><%= t('activerecord.attributes.order.receiver_address') %>: <%= @order.address.full_addr %></td>
      </tr>
      <tr>
        <td><%= t('activerecord.attributes.order.receiver_phonenum') %>: <%= @order.address.phone %></td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <td rowspan='3'><strong><%= t('activerecord.attributes.order.additional_info') %></strong></td>
        <td><%= t('activerecord.attributes.order.gift_card_text') %>: <%= @order.gift_card_text %></td>
      </tr>
      <tr>
        <td><%= t('activerecord.attributes.order.special_instructions') %>: <%= @order.special_instructions %></td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <td rowspan='3'><strong><%= t('views.order.pay_and_ship_method') %></strong></td>
        <td><%= t('activerecord.attributes.transaction.paymethod') %>: <%= @order.transaction ? @order.transaction.paymethod : nil %></td>
      </tr>
      <tr>
        <td><%= t('activerecord.attributes.order.expected_date') %>: <%= @order.expected_date %></td>
      </tr>
    </tbody>
  </table>
</div>

<div id='order-items' class='row'>
  <h3><span><%= t('views.product.product_info') %></span></h3>
  <table id='product_detail' class='item-table table'>
    <thead>
      <tr>
        <th class="image"><%= t('image') %></th>
        <th class="name"><%= t('name') %></th>
        <th class="size"><%= t('size') %></th>
        <th class="price"><%= t('price') %></th>
        <th class="quantity"><%= t('views.order.quantity') %></th>
        <th class="total"><%= t('total') %></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'product_detail', collection: @order.line_items %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan='5'><%= t('views.order.in_total') %></td>
        <td><%= @order.total %></td>
      </tr>
    </tfoot>
  </table>
</div>

<% if @order.state == 'generated' %>
  <%= render 'actions' %>
<% end %>
