<div class="best-products row">
  <%# 圣诞节 %>
  <div class="square">
    <a href="/collections/latest-design/products">
      <%= image_tag "best-products/christmas.jpg", width: 460, height: 440 %>
    </a>
  </div>

  <%# 假日松烛, 芳香伊甸园 %>
  <%= render partial: 'collections/product', collection: Product.find(128, 130) %>

  <%# 木桩烛台, 松果花环, 浆果花环 %>
  <%= render partial: 'collections/product', collection: Product.find(129, 127, 126) %>

  <%# 鲜花 %>
  <div class="square">
    <a href="/collections/fresh-flower/products">
      <%= image_tag "best-products/fresh_flowers.jpg", width: 460, height: 440 %>
    </a>
  </div>

  <%# 普罗旺斯, Paris %>
  <%= render partial: 'collections/product', collection: Product.find(85, 86) %>

  <%# 海芋恋, 海洋之心, 水边的阿狄丽娜, 花园梦想 %>
  <%= render partial: 'collections/product', collection: Product.find(118, 22, 92, 102) %>

  <%# 永生花 %>
  <div class="square">
    <a href="/collections/preserved-flower/products">
      <%= image_tag "best-products/preserved-flower.jpg", width: 460, height: 440 %>
    </a>
  </div>

  <%# 红宝石, 紫舞 %>
  <%= render partial: 'collections/product', collection: Product.find(83, 84) %>

  <%# 星空下的问候, 永生·海洋之心, THE ONE-羽毛笔, 初步 %>
  <%= render partial: 'collections/product', collection: Product.find(93, 103, 122, 119) %>

  <%# 色彩系列 %>
  <div class="square">
    <a href="/collections/colorful-life">
      <%= image_tag "best-products/flower-with-enamel.jpg", width: 460, height: 440 %>
    </a>
  </div>

  <%# 深海之谜, 弗拉明戈 %>
  <%= render partial: 'collections/product', collection: Product.find(110, 109) %>

  <%# 自然香气, 轻奢世界, 浓情城市, 欧洲花园 %>
  <%= render partial: 'collections/product', collection: Product.find(111, 112, 108, 107) %>

</div>
