<div class="best-products constrained row">
  <%# 鲜花 %>
  <div class="square">
    <a href="/collections/fresh-flower/products">
      <%= image_tag "best-products/fresh_flowers.jpg", width: 460, height: 440 %>
    </a>
  </div>

  <%# 情人草, The one 羽毛笔 %>
  <%= render partial: 'collections/product', collection: Product.find(133, 122) %>

  <%# 无双玫瑰, 红宝石, 普罗旺斯的一年, Chloe %>
  <%= render partial: 'collections/product', collection: Product.find(80, 83, 85, 132) %>

  <%# 永生花 %>
  <div class="square">
    <a href="/collections/preserved-flower/products">
      <%= image_tag "best-products/preserved-flower.jpg", width: 460, height: 440 %>
    </a>
  </div>

  <%# 软妹子, 淡奶之吻 %>
  <%= render partial: 'collections/product', collection: Product.find(104, 105) %>

  <%# 紫舞, 深海之谜, 花年轮, 蓝宝石 %>
  <%= render partial: 'collections/product', collection: Product.find(84, 110, 116, 98) %>

  <%# 色彩系列 %>
  <div class="square">
    <a href="/collections/colorful-life">
      <%= image_tag "best-products/flower-with-enamel.jpg", width: 460, height: 440 %>
    </a>
  </div>

  <%# 侧耳倾心, 巴黎 %>
  <%= render partial: 'collections/product', collection: Product.find(135, 86) %>

  <%# 海洋之心, 给柏拉图的信, 花园梦想, 侧耳倾心, 暖 %>
  <%= render partial: 'collections/product', collection: Product.find(22, 23, 102, 125) %>

</div>
