<%= form_tag(alipay_path(product), :method => "post") do %>
  <div class="bank-pay-block">
    <p class="bank-pay-text">选择支付方式</p>
    <label class="ALIPAY icon">
      <%= radio_button_tag(:pay_bank, "directPay", :checked => "checked") %>
    </label>
    <% banks.each do |bank| %>
      <label class="<%= bank %> icon">
        <%= radio_button_tag(:pay_bank, bank) %>
      </label>
    <% end %>
    <p class="paypal-text">国际支付</p>
    <label class="PAYPAL icon">
      <%= radio_button_tag(:pay_bank, "paypal") %>
    </label>
  </div>
  <%= submit_tag "确认支付" %>
<% end %>
