<div id="slide">
  <a class="btn-left"></a>
  <a class="btn-right"></a>
  <ul class="container">
    <li><a href="/valentine"><%= image_tag "slide/valentine.jpg" %></a></li>
    <li><a href="/products/statice-limonium"><%= image_tag "slide/statice.jpg" %></a></li>
    <li><a href="/products/a-romantic-night"><%= image_tag "slide/jazz-music.jpg" %></a></li>
    <li><a><%= image_tag "slide/godiva.jpg" %></a></li>
    <li><a><%= image_tag "slide/uber.jpg" %></a></li>
    <li><a href="/products/the-one"><%= image_tag "slide/the-one.jpg" %></a></li>
  </ul>
  <ul class="slide-dot">
    <li><a class="cur"></a></li>
    <li><a></a></li>
    <li><a></a></li>
    <li><a></a></li>
    <li><a></a></li>
    <li class="last"><a></a></li>
  </ul>
</div>
