<div id="slide">
  <a class="btn-left"></a>
  <a class="btn-right"></a>
  <ul class="container">
    <li><a href="/valentine"><%= image_tag "slide/valentine.jpg" %></a></li>
    <li><a href="<%= path_to_promo_product %>"><%= image_tag "slide/limited_promotion.jpg" %></a></li>
    <li><a href="/products/statice-limonium"><%= image_tag "slide/statice.jpg" %></a></li>
    <li><a href="/products/a-year-in-provence"><%= image_tag "slide/provence.jpg" %></a></li>
    <li><a><%= image_tag "slide/jazz-music.jpg" %></a></li>
    <li><a href="/weibo_stories"><%= image_tag "slide/hualigirls.jpg" %></a></li>
  </ul>
  <ul class="slide-dot">
    <li><a class="cur"></a></li>
    <li><a></a></li>
    <li><a></a></li>
    <li><a></a></li>
    <li><a></a></li>
    <li class="last"><a></a></li>
  </ul>
</div>
