<div class="best-products">
  <div class="christmas">
    <div class="header">
      <%= image_tag "christmas/header.jpg" %>
    </div>

    <div id="product_list_one" class="product_list">
      <a class="link_1" href="/products/pinecone-wreath"></a>
      <a class="link_2" href="/products/berry-wreath"></a>
      <%= image_tag "christmas/product_list_one.jpg" %>
    </div>

    <div id="product_list_two" class="product_list">
      <a class="link_1" href="/products/wooden-candle-holder"></a>
      <a class="link_2" href="/products/wooden-candle-holder"></a>
      <a class="link_3" href="/products/holiday-centerpiece"></a>
      <%= image_tag "christmas/product_list_two.jpg" %>
    </div>

    <div class="product">
      <a href="/products/fragrant-garden-of-eden"><%= image_tag "christmas/product_fragrant_garden_of_eden.jpg" %></a>
    </div>

    <div>
      <%= image_tag "christmas/product_using_manner.jpg" %>
    </div>

    <div id="product_list_three" class="product_list">
      <a class="link_1" href="/products/purple-dance"></a>
      <a class="link_2" href="/products/ruby"></a>
      <a class="link_3" href="/products/miss-you-in-a-starry-night"></a>
      <a class="link_4" href="/products/garden-of-europe"></a>
      <a class="link_5" href="/products/heart-of-the-ocean"></a>
      <%= image_tag "christmas/product_list_three.jpg" %>
    </div>

    <div class="footer">
      <%= image_tag "christmas/footer.jpg" %>
    </div>
  </div>
</div>
