<div class="best-products">
  <div class="christmas">
    <div class="header">
      <%= image_tag "christmas/header.jpg" %>
    </div>

    <div class="product">
      <a href="#"><%= image_tag "christmas/product_pinecone_wreath.jpg" %></a>
      <a><%= image_tag "christmas/product_wreath_content.jpg" %></a>
      <a><%= image_tag "christmas/product_berry_wreath.jpg" %></a>
    </div>

    <div class="product candle_holder">
      <div class="left span">
        <a href="#"><%= image_tag "christmas/product_candle_holder_content.jpg" %></a>
        <a href="#"><%= image_tag "christmas/product_holiday_centerpiece.jpg" %></a>
      </div>
      <div class="right span">
        <a href="#"><%= image_tag "christmas/product_candle_holder.jpg" %></a>
      </div>
    </div>

    <div class="product">
      <a href="#"><%= image_tag "christmas/product_fragrant_garden_of_eden.jpg" %></a>
    </div>

    <div>
      <%= image_tag "christmas/product_using_manner.jpg" %>
    </div>

    <div class="product_list">
      <a href="#"><%= image_tag "christmas/product_purple_dance.jpg" %></a>
      <a href="#"><%= image_tag "christmas/product_ruby.jpg" %></a>
      <a href="#"><%= image_tag "christmas/product_miss_you_in_a_starry_night.jpg" %></a>
    </div>

    <div class="product_list">
      <a href="#"><%= image_tag "christmas/product_garden_of_europe.jpg" %></a>
      <a href="#"><%= image_tag "christmas/product_heart_of_the_ocean.jpg" %></a>
      <a href="#"><%= image_tag "christmas/deer.jpg" %></a>
    </div>

    <div class="footer">
      <%= image_tag "christmas/footer.jpg" %>
    </div>
  </div>
</div>
