<div class="row" style="text-align: center; margin-bottom: 15px;">
  <%= image_tag("graduate/banner.jpg") %>
</div>

<div class="row" style="text-align: center; margin-bottom: 15px;">
  <%= image_tag("graduate/theme.jpg") %>
</div>

<div class="row" style="text-align: center;" id="graduation-grid">
  <% @products.each do |product| %>
    <div class="span4">
      <%= link_to image_tag("graduate/#{product.id}.png"), product_path(product) %>
      <p class='product_name'><%= product.name %></p>
      <p class='product_price'><%= product.price %>元</p>
    </div>
  <% end %>
  <div class="span4">
    <%= link_to image_tag("graduate/logo.png"), root_path %>
  </div>
</div>
