<% content_for :title do %>
花里花店 Huali Store – 定制惊喜 Tailored Surprises
<% end %>

<% content_for :description do %>
花里花店是目前中国领先的在线精品花艺品牌，通过在线渠道向全国消费者提供高质量的花艺消费品。花里，用心定制惊喜，用优雅的法式美学为您的生活增色。
<% end %>

<% content_for :js do %>
  <%= javascript_include_tag 'flowplayer.min.js' %>
  <%= flowplayer_for :video, asset_path('flowplayer-3.2.18.swf'), 'jquery' do |player| %>
    <% player.clip scaling: "fit" %>
    <% player.play replayLabel: nil, opacity: 0 %>
    <% player.canvas backgroundColor: "transparent", backgroundGradient: "none" %>
    <% player.playlist [{url: image_path('video-cover.jpg'), scaling: 'orig', autoBuffering: true}, {url: "http://hua.li/system/videos/huali_meets_astonmartin.mp4", autoPlay: false, autoBuffering: false}] %>
    <% player.plugins controls: { url: asset_path('flowplayer.controls-3.2.16.swf'), backgroundColor: "rgba(239, 239, 239, 0.1)", backgroundGradient: "none", all: false, scrubber: true, play: true, mute: true, fullscreen: true, autoHide: "always", height: "20px"} %>
  <% end %>
<% end %>

<%= render 'slide' %>
<div class="scroll-anchor"></div>
<%= render 'best_products' %>

<div class="best-products tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">合作品牌</a></li>
    <li><a href="#tab2" data-toggle="tab">媒体报道</a></li>
    <li><a href="#tab3" data-toggle="tab">花里·明星</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <div class="brands">
        <a target="_blank" class="hermes brands">Hermes</a>
        <a target="_blank" class="acqua brands">Acqua DI Parma</a>
        <a target="_blank" class="chole brands" href="http://hua.li/collections/chloe">chole</a>
        <a target="_blank" class="valentine-perfume brands">Valentino perfume</a>

        <a target="_blank" class="swarovski-elements brands" href="http://hua.li/collections/swarovski-elements">Swarovski</a>
        <a target="_blank" class="marc-jacobs brands" href="http://hua.li/collections/marc-jacobs">Marc Jacobs</a>
        <a target="_blank" class="givenchy brands" href="http://hua.li/collections/givenchy">Givenchy</a>
        <a target="_blank" class="zegna brands" href="http://hua.li/collections/ermenegildo-zegna">Zegna</a>

        <a target="_blank" class="shanghai-beach brands">shanghai beach</a>
        <a target="_blank" class="HR brands">HR</a>
        <a target="_blank" class="Ritz-Carlton brands">Ritz-Carlton</a>
        <a target="_blank" class="sally-hansen brands" href="http://hua.li/collections/sally-hansen">Sally Hansen</a>

        <a target="_blank" class="godiva-chocolatier brands">Godiva Chocolatier</a>
        <a target="_blank" class="davidoff brands" href="http://hua.li/collections/davidoff">Davidoff perfume</a>
        <a target="_blank" class="sonoko brands">Sonoko</a>
        <a target="_blank" class="leo-diamond brands">Leo Diamond</a>
        <p class="text-center slogan"> 「花里」，奢华品牌的共同选择<p>
      </div>
    </div>
    <div class="tab-pane" id="tab2">
      <div class="videos">
        <a id="video" style="height: 529px"></a>
      </div>
    </div>
    <div class="tab-pane" id="tab3">
      <div class="huali-brief">
        <div class="intro">
        </div>
        <a href="<%= celebrities_path %>" class="celebrities"></a>
      </div>
    </div>
  </div>
</div>
