<%= render 'slide' %>
<%= render 'best_products' %>
<div class="best-products">
  <h3 class="title"><i></i>合作品牌<b></b></h3>
  <div class="cooperation">
    <a href="http://www.makeupforever.com/" target="_blank"><%= image_tag "cooperation/make_up_forever.jpg" %></a>
    <a href="http://www.shanghaitang.com/" target="_blank"><%= image_tag "cooperation/shanghai_beach.jpg" %></a>
    <a href="http://www.chloe.com/" target="_blank"><%= image_tag "cooperation/chole.jpg" %></a>
    <a href="" target="_blank"><%= image_tag "cooperation/HR.jpg" %></a>
    <a href="http://www.ctrip.com/" target="_blank"><%= image_tag "cooperation/ctrip.jpg" %></a>
    <a href="http://www.ritzcarlton.com/" target="_blank"><%= image_tag "cooperation/Ritz-Carlton.jpg" %></a>
    <a href="http://www.mabelle.com.cn/" target="_blank"><%= image_tag "cooperation/MaBelle.jpg" %></a>
  </div>
</div>
