<% content_for :js do %>
  <%= javascript_include_tag 'flowplayer.min.js' %>
  <%= flowplayer_for :video, asset_path('flowplayer-3.2.18.swf'), 'jquery' do |player| %>
    <% player.clip scaling: "fit" %>
    <% player.play replayLabel: nil, opacity: 0 %>
    <% player.canvas backgroundColor: "transparent", backgroundGradient: "none" %>
    <% player.playlist [{url: image_path('video-cover.jpg'), scaling: 'orig', autoBuffering: true}, {url: "http://hua.li/system/videos/huali_meets_astonmartin.mp4", autoPlay: false, autoBuffering: false}] %>
    <% player.plugins controls: { url: asset_path('flowplayer.controls-3.2.16.swf'), backgroundColor: "rgba(239, 239, 239, 0.1)", backgroundGradient: "none", all: false, scrubber: true, play: true, mute: true, fullscreen: true, autoHide: "always", height: "20px"} %>
  <% end %>
<% end %>

<div class="best-products">
  <h3 class="title">
    <i></i>媒体报道<b></b>
    <p>花里在媒体中一直有着良好的声誉。诸多平台媒体纷纷报道了花里作为线上花艺品牌的特殊价值与魅力。</p>
  </h3>

  <div class="videos">
    <a id="video" style="height: 529px">
    </a>
  </div>

  <div class="medias">
    <a href="http://lifestyle.rayli.com.cn/0P11/2013-07-04/L0P11007_1076759.html" target="_blank">
      <%= image_tag 'medias/rayli-report.jpg' %>
    </a>
    <a href="http://eladies.sina.com.cn/nx/2013/0808/20531231268.shtml" target="_blank">
      <%= image_tag 'medias/sina-report.jpg' %>
    </a>
    <a href="http://www.itravelqq.com/2013/0925/177190.html" target="_blank">
      <%= image_tag 'medias/qq-report.jpg' %>
    </a>
  </div>
</div>

<div class="best-products">
  <h3 class="title">
    <i></i>其他媒体<b></b>
  </h3>
  <div class="other-medias">
    <a href="#" target="_blank" class="media-sohu">搜狐</a>
    <a href="#" target="_blank" class="media-netease-news">网易新闻</a>
    <a href="#" target="_blank" class="media-sina-women">新浪女性</a>
    <a href="#" target="_blank" class="media-vogue">Vogue</a>
    <a href="#" target="_blank" class="media-elle">Elle</a>
    <a href="#" target="_blank" class="media-luxuryce">中国经济网世界品牌频道</a>
    <a href="#" target="_blank" class="media-yoka">Yoka.com</a>
    <a href="#" target="_blank" class="media-pclady">太平洋时尚网</a>
    <a href="#" target="_blank" class="media-21-cn">21CN</a>
    <a href="#" target="_blank" class="media-chinacom">中华网</a>
    <a href="#" target="_blank" class="media-cbn">第一财经</a>
    <a href="#" target="_blank" class="media-china-daily">China Daily</a>
    <a href="#" target="_blank" class="media-youku">优酷</a>
    <a href="#" target="_blank" class="media-fifm">FIFM</a>
    <a href="#" target="_blank" class="media-rayli-life">瑞丽生活</a>
    <a href="#" target="_blank" class="media-gmw">光明网</a>
    <a href="#" target="_blank" class="media-chinapp">中国品牌网</a>
    <a href="#" target="_blank" class="media-tom">Tom.com</a>
    <a href="#" target="_blank" class="media-aili">爱丽</a>
    <a href="#" target="_blank" class="media-chinacomcn">中国网</a>
    <a href="#" target="_blank" class="media-youthcn">中国青年网</a>
    <a href="#" target="_blank" class="media-21cn-life">21CN 生活</a>
    <a href="#" target="_blank" class="media-fashion-china">时尚中国</a>
    <a href="#" target="_blank" class="media-chinadaily-hqgj">中文国际</a>
    <a href="#" target="_blank" class="media-ladyww">伊人网</a>
    <a href="#" target="_blank" class="media-mina">米娜时尚网</a>
    <a href="#" target="_blank" class="media-zdface">妆点网</a>
    <a href="#" target="_blank" class="media-shenbao">申江导报</a>
    <a href="#" target="_blank" class="media-online-sh">上海热线</a>
    <a href="#" target="_blank" class="media-1bjqnw">新北青网</a>
    <a href="#" target="_blank" class="media-bjrxnews">北京热线</a>
  </div>
</div>

