<div id="payment-wrapper">
  <div class="row">
    <%= image_tag('payment-title.png') %>
  </div>
  <div id="order-list">
    <p>
      您的花篮里已经有一盒 <span class="product-name"><%= @product.name_cn %></span> ，
      共计 <strong class="price-totle"><%= @product.price %></strong> 元。请选择您的支付方式:
    </p>
  </div>
  <div>
  <form action=<%= alipay_path(@product) %> method=post>
    <div>
      <input type="radio" name="pay_bank" value="directPay" checked/><%= image_tag("alipay.gif") %>
    </div>
    <ul class="bank-list">
      <li><input type="radio" name="pay_bank" value="ICBCB2C"/><span class="icon ICBC"></span></li>
      <li><input type="radio" name="pay_bank" value="CMB"/><span class="icon CMB"></span></li>
      <li><input type="radio" name="pay_bank" value="CCB"/><span class="icon CCB"></span></li>
      <li><input type="radio" name="pay_bank" value="BOCB2C"><span class="icon BOC"></span></li>
      <li><input type="radio" name="pay_bank" value="ABC"/><span class="icon ABC"></span></li>
      <li><input type="radio" name="pay_bank" value="COMM"/><span class="icon COMM"></span></li>
      <li><input type="radio" name="pay_bank" value="PSBC-DEBIT"/><span class="icon PSBC"></span></li>
    </ul>
    <%= submit_tag "确认支付" %>
  </form>
  </div>
  <div id="notice-info">
    <h3>购买注意</h3>
    <p> <strong>支付提醒：</strong>现在只支持用支付宝一次支付一件花盒，敬请谅解。 </p>
    <p> <strong>递送时间：</strong>如果您在每天下午18:00前下单，产品将在第二天中午使用新鲜花材进行制作，并在下午通过联邦快递发送出去，鲜花会在第三天白天到达；如果您在每天下午18:00后下单，将被认定为次日的订单。 </p>
    <p> <strong>损坏赔偿：</strong>如果在运送过程中花盒出现了例如被翻转等损坏，请您在第一时间拍照后联系我们的客服。在客服确认为鲜花产品在运输过程中受到了因运输不当而产生的损坏，我们愿意进行全额的赔偿。 但是由于鲜花产品的特殊性，在运输过程中一定会对于新鲜程度的部分影响，我们仅能够针对运输不当造成的损坏来对您进行赔偿，请您务必谅解。我们将会尽我们的可能减少鲜花产品在运输途中的时间。 </p>
    <p> <strong>产品保鲜：</strong>请您在收到产品后务必打开盒盖给鲜花透气，并向鲜花根部适当注水，如果您家中有喷壶的话，可以适当给鲜花表面喷洒适量的清水。 </p>
  </div>
</div>
