<div style="margin-left: 80px;">
  <div class="row" style="margin-bottom: 15px; position:relative;">
    <div class="span10">
      <%= image_tag("qixi/trilogy.jpg") %>
      <div style="position:absolute; left:480px; top:70px; text-align:center">
        爱在这一刻<br />
        <strong>.</strong><br />
        Love in this moment
        <a href="#trilogy-one" style="display:block"><span style="position:absolute; width:100%; height:100%; top:0; left:0; z-index:1;"></span></a>
      </div>

      <div style="position:absolute; left:500px; top:175px; text-align:center">
        为爱永生<br />
        <strong>.</strong><br />
        Love Forever
        <a href="#trilogy-two" style="display:block"><span style="position:absolute; width:100%; height:100%; top:0; left:0; z-index:1;"></span></a>
      </div>

      <div style="position:absolute; left:435px; top:270px; text-align:center">
        爱你不是两三天<br />
        <strong>.</strong><br />
        Love you not for a couple of days
        <a href="#trilogy-three" style="display:block"><span style="position:absolute; width:100%; height:100%; top:0; left:0; z-index:1;"></span></a>
      </div>
    </div>
  </div>

  <div id='trilogy-one' class="row" style="margin-bottom: 15px;">
    <div class="span10">
      <%= image_tag("qixi/trilogy-one.jpg") %>
    </div>
  </div>

  <div class="row" style="margin-bottom: 15px;">
    <div class="span6">
      <a href="/products/heart-of-the-ocean"><%= image_tag("qixi/heart-of-the-ocean.jpg", style: 'float:left; margin-right: 20px') %></a>
    </div>
    <div class="span4">
      <h2>海洋之心</h2>
      <h3>——铭记相爱时刻</h3>
      <p>
        当海洋之心随着Titanic沉入深海，曾经的热烈与激情也一并深入心底。“海洋之心”正喻示着那些沉淀经历的爱情。搭配深浅不一的海蓝色鲜花，为不受世俗打扰的情感，递上一份纯洁与美好。
        <a href="/products/heart-of-the-ocean">查看详情</a>
      </p>
    </div>
  </div>

  <div class="row" style="margin-bottom: 15px;">
    <div class="span6">
      <a href="/products/a-year-in-provence"><%= image_tag("qixi/a-year-in-provence.jpg", style: 'float:left; margin-right: 20px') %></a>
    </div>
    <div class="span4">
      <h2>普罗旺斯的一年</h2>
      <h3>——为你绽放一整年的浪漫</h3>
      <p>
        《普罗旺斯的一年》是世上少有的大幅插花作品，由法国艺术家Alexandre Brugny利用世界顶级花材创作而成。打开花盒的瞬间，你就会被满溢芳香的蓝紫色鲜花所震撼。带着薰衣草花田的梦幻与普罗旺斯娇媚的阳光，将蕴含一整年的浪漫情愫，在这一刻尽情释放吧！
        <a href="/products/a-year-in-provence">查看详情</a>
      </p>
    </div>
  </div>

  <div id='trilogy-two' class="row" style="margin-bottom: 15px;">
    <div class="span10">
      <%= image_tag("qixi/trilogy-two.jpg") %>
    </div>
  </div>

  <div class="row" style="margin-bottom: 15px;">
    <div class="span6">
      <a href="/products/ruby"><%= image_tag("qixi/ruby.jpg", style: 'float:left; margin-right: 20px') %></a>
    </div>
    <div class="span4">
      <h2>红宝石</h2>
      <h3>——唯爱永生，一朵定情</h3>
      <p>
        红宝石，爱情之石。<br />
        将所有誓言倾注于这朵名为“红宝石”的巨型永生玫瑰之中，换取比花更美艳的笑容。一朵永生玫瑰，代表着“唯爱永生”，我们期待用这样美好的寓意，祝福那些坚定浓烈的情感。红宝石难得，永恒的爱情更难得，这一朵，献给你我不被凋零的爱。
        <a href="/products/ruby">查看详情</a>
      </p>
    </div>
  </div>

  <div class="row" style="margin-bottom: 15px;">
    <div class="span6">
      <a href="/products/purple-dance"><%= image_tag("qixi/purple-dance.jpg", style: 'float:left; margin-right: 20px') %></a>
    </div>
    <div class="span4">
      <h2>紫舞</h2>
      <h3>——期待永恒之爱</h3>
      <p>
        紫色绣球与白色玫瑰的仙气，让人联想起飞舞在花间的精灵。那些永生的小小灵魂，为花盒不断注入永恒生命力。又像一位穿着紫色纱裙的翩翩少女，等待浪漫爱情的降临。紫舞，期待永恒之爱。
        <a href="/products/purple-dance">查看详情</a>
      </p>
    </div>
  </div>

  <div id='trilogy-three' class="row" style="margin-bottom: 15px;">
    <div class="span10">
      <%= image_tag("qixi/trilogy-three.jpg") %>
    </div>
  </div>

  <div class='row' class="row" style="margin-bottom: 15px;">
    <div class="span6">
      <a href="/products/3months"><%= image_tag("qixi/subscription.jpg", style: 'float:left; margin-right: 20px') %></a>
    </div>
    <div class="span4">
      <h2>爱·订阅</h2>
      <h3>——每一月，用鲜花传递爱</h3>
      <p>
        鲜花订阅，是花里专为情感细腻的您准备的。<br />
        每月初，我们将会准备最新鲜精美的花束，送至您最牵挂的角落。<br />
        如果你正处于艰苦迷茫的追求期，就让每月的鲜花帮你柔软她的坚硬的心吧！<br />
        如果你与她相爱已久，何不让每月的鲜花结束你们的爱情长跑呢？<br />
        在花里，我们用鲜花助你完成心愿。
        <a href="/products/3months">查看详情</a>
      </p>
    </div>
  </div>
</div>
