<div class="account-info-container">
  <%= render 'shared/account_info_header' %>
  <div class="invitation-main">
  <h2><%= t "devise.invitations.new.header" %></h2>

  <%= simple_form_for @user, :url => invitation_path(@user), :html => {:method => :post} do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <% @user.class.invite_key_fields.each do |field| -%>
      <p><%= f.label field %><br />
      <%= f.text_field field %></p>
    <% end -%>

  <p><%= f.submit t("devise.invitations.new.submit"), class: "btn-passport" %></p>
    
  <% end %>
  <br>
  </div>
  <div class="account-info-line"> </div>
</div>
