<% content_for :title do %>
  <%= "HualiGirls 花里因你而精彩 - 花里花店 Huali Store" %>
<% end %>

<% content_for :keywords do %>
  <%= "花里花店,HualiGirls" %>
<% end %>

<% content_for :description do %>
  <%= "每一位姑娘都有美妙的人生篇章，HualiGirls - 花里因你而精彩。" %>
<% end %>

<% content_for :body_js do %>
  <%= javascript_include_tag 'jquery.imagesloaded' %>
  <%= javascript_include_tag 'weibo-stories' %>
<% end %>

<div class="best-products">
  <div id="loader">
    <div id="loaderCircle"><%= image_tag 'loading.gif', class: 'loading' %></div>
  </div>
  <h3 class="title">
    HualiGirls
  </h3>
  <div class="weibo-stories">
    <div id="tiles">
      <!-- These is where we place content loaded from the Wookmark API -->
    </div>
  </div>
</div>
