<div class="best-products">
  <div class="white-day">
    <div class="header">
      <%= image_tag "white-day/header.jpg" %>
    </div>

    <div id="product_list_one" class="product_list">
      <a class="link_1" href="/products/the-man-from-the-sea"></a>
      <%= image_tag "white-day/product_list_one.jpg" %>
    </div>

    <div id="product_list_two" class="product_list">
      <a class="link_1" href="/products/dreaming-in-spring"></a>
      <%= image_tag "white-day/product_list_two.jpg" %>
    </div>

    <div id="product_list_three" class="product_list">
      <%= image_tag "white-day/product_list_three.jpg" %>
    </div>

    <div id="product_list_four" class="product_list">
      <a class="link_1" href="/products/into-his-life--2"></a>
      <a class="link_2" href="/products/into-his-life"></a>
      <%= image_tag "white-day/product_list_four.jpg" %>
    </div>

    <div class="footer">
      <div id="collection" class="product_list">
        <a class="link_1" href="/products/miss-you-on-a-starry-night"></a>
        <a class="link_2" href="/products/a-letter-to-plato"></a>
        <a class="link_3" href="/products/forever-heart"></a>
        <a class="link_4" href="/products/cream-of-kiss"></a>
        <a class="link_5" href="/products/natural-scents"></a>
        <a class="link_6" href="/products/abyssal-mystery"></a>
        <a class="link_7" href="/products/garden-of-europe"></a>
        <a class="link_8" href="/products/year-by-year-dull-red"></a>
        <%= image_tag "white-day/collection.jpg" %>
      </div>
      <div id="more" class="product_list">
        <a class="link_1" href="/collections/latest-design/products">
        </a>
        <%= image_tag "white-day/more.jpg" %>
      </div>
    </div>
  </div>
</div>

