<%= semantic_form_for [:admin, @product_part] do |f| %>
  <%= f.inputs "Main Info" do %>
    <%= f.input :name_cn, :label => "Chinese Name", :required => true %>
    <%= f.input :name_en, :label => "English Name", :required => true %>

    <%= f.input :product, :label => "Belongs To", :collection => Hash[Product.all.map { |col| [col.name_cn, col.id] }] %>

    <%= f.input :description %>

    <%= f.input :info_source %>

    <%= f.inputs :for => :asset, :class => 'image_field' do |builder, i| %>
      <% if @product_part.asset.image.url(:medium) %>
        <%= image_tag @product_part.asset.image.url(:medium)%>
      <% end %>
      <%= builder.input :image, :label => "Change Image" %>
      <%= builder.hidden_field :_destroy %>
      <%= link_to "Remove Image", "#", :class => "remove_fields" %>
    <% end %>

    <% if @product_part.asset.nil? %>
      <li class="file input">
        <label class="label">Add Image</label>
        <%= link_to_add_fields "Add Image", f, :asset %>
      </li>
    <% end %>

  <% end %>

  <%= f.actions %>
<% end %>
