<% content_for :css do %>
  <%= stylesheet_link_tag 'invitation'  %>
<% end %>

<div class="account-info-container">
  <%= render 'shared/account_info_header' %>
  <div class="invitation-main">
  <h2><%= t "devise.invitations.new.header" %></h2>

  <%= simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
    <%= devise_error_messages! %>

  <br>
  <%= f.label t("devise.invitations.new.email") %>
  <%= f.text_field :email %>
  <br>
  <%= label_tag t("devise.invitations.new.subject") %>
  <%= text_field_tag :invite_subject %>
  <br>
  <%= label_tag t("devise.invitations.new.content") %>
  <%= text_area_tag :invite_content %>
  <br>
  <br>


  <input class= "btn-passport"name="commit" type="submit" value= <%= t "devise.invitations.new.submit" %>>
  <% end %>

  <br>
  </div>
  <div class="account-info-line"> </div>
</div>
