<div class="collection-wrapper">
  <div class="row">
    <% @products.each do |product| %>
      <div class="collection-unit span4">
        <div class="unit-info">
          <%= link_to t('views.product.flower_basket'), current_order_path, class: 'purchase button', data: { product: product.id } %>
          <p>
            <% unless product.original_price.nil? %>
            <span class="pro-price old-price"> <%= product.original_price %> <%=t 'currency' %>  </span>
            <% end %>
            <span class="pro-price"><%= product.price %> <%=t 'currency' %>  </span>
          </p>
          
        </div>
        <div class="unit-image">
          <%= link_to image_tag(product.img(:medium)), product_path(product), title: product.name %>
        </div>
        <h3 class="unit-title"> <%= link_to product.name, product_path(product), title: 'Fashion Demo Flowers' %> </h3>
      </div>
    <% end %>
  </div>
</div>
