<% content_for :css do %>
  <%= stylesheet_link_tag "admin_shipment_print", media: "all" %>
<% end %>

<div class="sheet-bg <%= @type %>-bg">
  <%= image_tag "print/#@type.jpg" if @type.present? %>
</div>

<div class="text <%= @type %>">
  <p class="receipt"><%= @address.fullname %></p>
  <p class="cell"><%= @address.phone %></p>
  <p class="addr"><%= @address.print_addr %></p>
  <p class="post"><%= @address.post_code %></p>
</div>
