<% content_for :css do %>
  <%= stylesheet_link_tag "admin_shipment_print", media: "all" %>
<% end %>

<div class="sheet-bg <%= @type %>-bg">
  <%= image_tag "print/#@type.jpg" if @type.present? %>
</div>

<%# used by shunfeng and shentong %>
<% unless @type == "lianbang" %>
  <div class="sender sender-<%= @type %>">
    <p class="sender-com">花里花店</p>
    <p class="sender-addr">上海市静安区愚园路546号</p>
    <p class="sender-phone">400-087-8899</p>
  </div>
<% end %>

<div class="text text-<%= @type %>">
  <p class="receipt"><%= @address.fullname %></p>
  <p class="cell"><%= @address.phone.gsub(" ", "") %></p>
  <p class="addr"><%= @address.print_addr %></p>
  <p class="post"><%= @address.post_code %></p>
  <% if @type == 'shunfeng' %>
    <p class="month_clean">021 1620529</p>
  <% end %>

  <%- suffix = @order.gift_card_text.present? ? "" : "X" %>
  <p class='product_text'>
    <%= "#{@order.validation_code}#{suffix}" %>
    <br>
    <%= "#{@order.subject_text}" %>
  </p>
  <p class="delivery_date"><%= l @order.delivery_date, format: :short %></p>
</div>

<div style="margin-top: 30px;">
  <%= link_to "打印贺卡", print_card_admin_order_path(@order), style: "color: blue" %>
</div>
