<%= semantic_form_for [:admin, @product] do |f| %>
  <%= f.semantic_errors :assets, :inspiration_zh, :name_en, :name_zh %>
  <%= f.inputs "Main Info" do %>
    <%= f.input :published, as: :boolean %>
    <%= f.input :name_zh, required: true %>
    <%= f.input :name_en, required: true %>
    <%= f.input :priority %>

    <%= f.input :tag_list, input_html: { class: 'tag-list' } %>

    <%= f.input :collections, as: :check_boxes %>

    <%= f.input :recommendations, as: :check_boxes, :collection => Product.sort_by_collection %>

    <%= f.input :inspiration, hint: "Use Markdown to write the content" , input_html: {rows: 10} %>

    <%= f.input :description, hint: "Use Markdown to write the content" , input_html: {rows: 10} %>

    <%= f.inputs for: :assets, class: 'image_field' do |builder, i| %>
      <% if @product.assets[i - 1].image %>
        <%= image_tag @product.assets[i - 1].image.url(:thumb)%>
      <% end %>
      <%= builder.input :image, label: "Change Image" %>
      <%= builder.hidden_field :_destroy %>
      <%= link_to "Remove Above Image", "#", class: "remove_fields" %>
    <% end %>

    <li class="file input">
    <label class="label"><%= t('views.admin.product.add_image') %></label>
      <%= link_to_add_assets t('views.admin.product.add_image'), f, :assets %>
    </li>

  <% end %>

  <%= f.inputs "SKU Info" do %>
    <%= f.input :count_on_hand, required: true %>
    <%= f.input :price %>
    <%= f.input :original_price %>
    <%= f.input :width %>
    <%= f.input :depth %>
    <%= f.input :height %>
  <% end %>

  <%= f.inputs "SEO" do %>
    <%= f.input :meta_title %>
    <%= f.input :meta_keywords %>
    <%= f.input :meta_description %>
  <% end %>

  <% @product.build_date_rule unless @product.date_rule %>
  <%= f.inputs "Date Rule", for: :date_rule do |builder| %>
    <%= builder.input :start_date, as: :string, input_html: { class: 'datepicker' } %>
    <%= builder.input :end_date, as: :string, input_html: { class: 'datepicker' } %>
    <%= builder.input :included_dates, as: :string, hint: "Dates separated by comma", input_html: { value: @product.date_rule.included_dates.join(',') } %>
    <%= builder.input :excluded_dates, as: :string, hint: "Dates separated by comma", input_html: { value: @product.date_rule.excluded_dates.join(',') } %>
    <%= builder.input :excluded_weekdays, as: :check_boxes, collection: [ ["Monday", "1"], ["Tuesday", "2"], ["Wednesday", "3"], ["Thursday", "4"], ["Friday", "5"], ["Saturday", "6"], ["Sunday", "0"] ], default: @product.date_rule.excluded_weekdays %>
    <%= builder.hidden_field :_destroy %>
    <li class="file input">
    <label class="label"><%= t('views.admin.product.remove_rule') %></label>
    <%= link_to t('views.admin.product.remove_rule'), "#", class: "remove_fields" %>
    </li>
    
  <% end %>

  <%= f.inputs "Default Region Rule" do %>
    <%= f.input :default_region_rule, prompt: "No Prompt", required: true %>
  <% end %>

  <% @product.build_local_region_rule_upon_default unless @product.local_region_rule %>
  <%= f.inputs "Local region rule", for: :local_region_rule do |builder| %>
    <%= builder.hidden_field :province_ids, value: @product.region_rule.province_ids.join(','), id: "region_rule_province_ids" %>
    <%= builder.hidden_field :city_ids, value: @product.region_rule.city_ids.join(','), id: "region_rule_city_ids" %> <%= builder.hidden_field :area_ids, value: @product.region_rule.area_ids.join(','), id: "region_rule_area_ids" %>

    <div id="region_rules" class="<%= "hide" if @product.local_region_rule.new_record? %>">
      <% Province.includes(cities: :areas).each do |province| %>
        <div class="item">
          <label><input pid="<%= province.id %>" type="checkbox" <%= @product.region_rule.province_ids.include?(province.id.to_s) ? "checked" : "" %> /><%= province.name %></label>
          <span pid="<%= province.id %>" class="province">+</span>
          <div pid="<%= province.id %>" class="cities" title="<%= province.name %>的城市">
            <% province.cities.each do |city| %>
              <div>
                <label><input cid="<%= city.id %>" type="checkbox" <%= @product.region_rule.city_ids.include?(city.id.to_s) ? "checked" : "" %> /><%= city.name %></label>
                <span pid="<%= province.id %>" cid="<%= city.id %>" class="city">+</span>
              </div>

              <% if city.areas.present? %>
                <div cid="<%= city.id %>" class="areas" title="<%= city.name %>的地区">
                  <% city.areas.each do |area| %>
                    <div>
                      <label><input aid="<%= area.id %>" type="checkbox" <%= @product.region_rule.area_ids.include?(area.id.to_s) ? "checked" : "" %> /><%= area.name %></label>
                      <input type="hidden" cid="<%= city.id %>" aid="<%= area.id %>" class="area" />
                    </div>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
      <button id="save_region_rule">Save</button>
      <p><strong>Remember to save region rule before submit!</strong></p>
    </div>

    <%= builder.hidden_field :_destroy, value: (@product.local_region_rule.new_record? ? true : false) %>
    <li class="file input">
    <label class="label"><%= t('views.admin.product.edit_rule') %></label>
      <a href="#" class="add_region_rule <%= "hide" unless @product.local_region_rule.new_record? %>">Add rule</a>
      <a href="#" class="remove_fields <%= "hide" if @product.local_region_rule.new_record? %>">Remove rule</a>
    </li>
  <% end %>

  <%= f.actions %>
<% end %>
