<%= semantic_form_for [:admin, @product] do |f| %>
  <%= f.semantic_errors :assets, :inspiration_zh, :name_en, :name_zh %>
  <%= f.inputs "Main Info" do %>
    <%= f.input :available, as: :boolean %>
    <%= f.input :published_zh, as: :boolean %>
    <%= f.input :published_en, as: :boolean %>
    <%= f.input :name_zh, required: true %>
    <%= f.input :name_en, required: true %>
    <%= f.input :priority %>

    <%= f.input :tag_list, input_html: { class: 'tag-list' } %>

    <%= f.input :recommendations, as: :check_boxes, :collection => Product.sort_by_collection %>

    <%= f.input :inspiration_zh, hint: "Use Markdown to write the content" , input_html: {rows: 10} %>
    <%= f.input :inspiration_en, hint: "Use Markdown to write the content" , input_html: {rows: 10} %>

    <%= f.input :description_zh, hint: "Use Markdown to write the content" , input_html: {rows: 10} %>
    <%= f.input :description_en, hint: "Use Markdown to write the content" , input_html: {rows: 10} %>

    <%= f.inputs for: :assets, class: 'image_field' do |builder, i| %>
      <% if @product.assets[i - 1].image %>
        <%= image_tag @product.assets[i - 1].image.url(:thumb)%>
      <% end %>
      <%= builder.input :image, label: "Change Image" %>
      <%= builder.hidden_field :_destroy %>
      <%= link_to "Remove Above Image", "#", class: "remove_fields" %>
    <% end %>

    <li class="file input">
    <label class="label"><%= t('views.admin.product.add_image') %></label>
      <%= link_to_add_assets t('views.admin.product.add_image'), f, :assets %>
    </li>

  <% end %>

  <%= f.inputs "SKU Info" do %>
    <%= f.input :count_on_hand, required: true %>
    <%= f.input :price %>
    <%= f.input :original_price %>
    <%= f.input :cost_price %>
    <%= f.input :width %>
    <%= f.input :depth %>
    <%= f.input :height %>
  <% end %>

  <%= f.inputs "SEO" do %>
    <%= f.input :meta_title %>
    <%= f.input :meta_keywords %>
    <%= f.input :meta_description %>
  <% end %>

  <%= f.actions %>
<% end %>
