<%= semantic_form_for [:admin, @product] do |f| %>
  <%= f.semantic_errors :assets, :inspiration_zh, :name_en, :name_zh %>
  <%= f.inputs "Main Info" do %>
    <%= f.input :published, as: :boolean %>
    <%= f.input :discountable, as: :boolean %>
    <%= f.input :name_zh, required: true %>
    <%= f.input :name_en, required: true %>
    <%= f.input :product_type, include_blank: false %>
    <%= f.input :flower_type, include_blank: false %>
    <%= f.input :priority %>
    <%= f.input :promo_tag %>

    <%= f.input :tag_list, input_html: { class: 'tag-list' } %>
    <%= f.input :trait_list, input_html: { class: 'tag-list' }, hint: render("trait_tags") %>
    <%= f.input :color_list, input_html: { class: 'tag-list' } %>

    <%= collection_checkboxes(@product) %>

    <%= f.input :recommendations, as: :check_boxes, :collection => Product.sort_by_collection %>
    
    <%= f.input :material,  input_html: {rows: 10} %>

    <%= f.input :inspiration,  input_html: {rows: 10} %>
    
    <%= f.input :maintenance,  input_html: {rows: 10} %>

    <%= f.input :delivery,  input_html: {rows: 10} %>

    <%= f.input :description, hint: "Use Markdown to write the content" , input_html: {rows: 10} %>

    <%= f.inputs for: :assets, class: 'image_field' do |builder, i| %>
      <% if @product.assets[i - 1].image %>
        <%= image_tag @product.assets[i - 1].image.url(:thumb)%>
      <% end %>
      <%= builder.input :image, label: "Change Image" %>
      <%= builder.hidden_field :_destroy %>
      <%= link_to "Remove Above Image", "#", class: "remove_fields" %>
    <% end %>

    <li class="file input">
    <label class="label"><%= t('views.admin.product.add_image') %></label>
      <%= link_to_add_assets t('views.admin.product.add_image'), f, :assets %>
    </li>
  <% end %>

  <%= f.inputs 'Rectangle Image' do %>
    <% if @product.rectangle_image? %>
      <%= image_tag @product.rectangle_image.url(:medium) %>
    <% end %>
    <%= f.input :rectangle_image %>
  <% end %>

  <%= f.inputs "SKU Info" do %>
    <%= f.input :sku_id, required: true %>
    <%= f.input :count_on_hand, required: true %>
    <%= f.input :price %>
    <%= f.input :original_price %>
    <%= f.input :width %>
    <%= f.input :depth %>
    <%= f.input :height %>
  <% end %>

  <% unless current_admin_ability.cannot? :update_seo, @product %>
    <%= f.inputs "SEO" do %>
      <%= f.input :meta_title %>
      <%= f.input :meta_keywords %>
      <%= f.input :meta_description %>
    <% end %>
  <% end %>

  <%= f.inputs "Default Date Rule" do %>
    <%= f.input :default_date_rule, include_blank: false, required: true %>
  <% end %>

  <%= render 'local_date_rule', f: f unless @product.new_record? %>

  <%= f.inputs "Default Region Rule" do %>
    <%= f.input :default_region_rule, include_blank: false, required: true %>
  <% end %>

  <%= render 'local_region_rule', f: f unless @product.new_record? %>

  <% if @product.new_record? %>
    <strong>本地规则请在产品编辑页面添加</strong>
  <% end %>

  <%= f.actions %>
<% end %>
