<%= semantic_form_for [:admin, @product] do |f| %>
  <%= f.inputs "Main Info" do %>
    <%= f.input :name_cn, :label => "Chinese Name", :required => true %>
    <%= f.input :name_en, :label => "English Name", :required => true %>

    <!-- use col.name_cn as checkboxname, col.id as checkbox id which is passed as params -->
    <!-- the last option :collection takes an hash for each check options-->
    <%= f.input :collection, :collection => Hash[Collection.all.map { |col| [col.name_cn, col.id] }] %>

    <%= f.input :description, :hint => "Use Markdown to write the content" %>

    <%= f.input :info_source, :as => :text, :hint => "Use Markdown to write the content" %>

    <%= f.inputs :for => :product_parts, :class => 'part_field' do |part_builder, i| %>

      <%= part_builder.input :name_cn, :label => "Part Name - CN" %>
      <%= part_builder.input :name_en, :label => "Part Name - EN" %>
      <%= part_builder.input :description, :label => "Part Description" %>
      <%= part_builder.input :info_source, :label => "Part Info_source" %>

      <%= part_builder.inputs :for => :asset do |asset_builder| %>
        <% unless part_builder.object.asset.nil? or part_builder.object.asset.image.nil? %>
          <%= image_tag part_builder.object.asset.image.url(:thumb) %>
        <% end %>
        <%= asset_builder.input :image, :label => "Change Image" %>
      <% end %>

      <%= part_builder.hidden_field :_destroy %>
      <%= link_to "Remove Above Part", "#", :class => "remove_fields" %>
    <% end %>

    <li class="file input">
      <label class="label">Add Part</label>
      <%= link_to_add_parts "Add Part", f, :product_parts %>
    </li>

    <%= f.inputs :for => :assets, :class => 'image_field' do |builder, i| %>
      <% if @product.assets[i - 1].image %>
        <%= image_tag @product.assets[i - 1].image.url(:thumb)%>
      <% end %>
      <%= builder.input :image, :label => "Change Image" %>
      <%= builder.hidden_field :_destroy %>
      <%= link_to "Remove Above Image", "#", :class => "remove_fields" %>
    <% end %>

    <li class="file input">
      <label class="label">Add Image</label>
      <%= link_to_add_assets "Add Image", f, :assets %>
    </li>

  <% end %>

  <%= f.inputs "SKU Info" do %>
    <%= f.input :count_on_hand, :label => "Count", :required => true %>
    <%= f.input :price %>
    <%= f.input :cost_price %>
    <%= f.input :width %>
    <%= f.input :depth %>
    <%= f.input :height %>
    <%= f.input :place %>
    <%= f.input :usage %>
    <%= f.input :available, :as => :boolean %>
  <% end %>

  <%= f.inputs "SEO" do %>
    <%= f.input :meta_keywords %>
    <%= f.input :meta_description %>
  <% end %>

  <%= f.actions %>
<% end %>
