<% @product.build_local_region_rule_upon_default unless @product.local_region_rule %>
<%= f.inputs "Local region rule", for: :local_region_rule, id: 'region_rules', class: "inputs " + (@product.local_region_rule.new_record? ? "hide": "") do |builder| %>
  <%= builder.hidden_field :province_ids, value: @product.region_rule.province_ids.join(','), id: "region_rule_province_ids" %>
  <%= builder.hidden_field :city_ids, value: @product.region_rule.city_ids.join(','), id: "region_rule_city_ids" %>
  <%= builder.hidden_field :area_ids, value: @product.region_rule.area_ids.join(','), id: "region_rule_area_ids" %>

  <%= render 'admin/shared/regions', region_rule: @product.local_region_rule %>

  <ul id="province_list">
  </ul>

  <button id="save_region_rule" class='hide'>Save</button>

  <%= builder.hidden_field :_destroy, value: (@product.local_region_rule.new_record? ? true : false) %>
  <li class="file input">
  <label class="label"><%= t('views.admin.product.remove_rule') %></label>
  <%= link_to t('views.admin.product.remove_rule'), "#", class: "remove_fields" %>
  </li>
<% end %>
<a href="#" class="add_region_rule <%= "hide" unless @product.local_region_rule.new_record? %>"><%= t('views.admin.product.add_rule') %></a>
