<div class="page-wrapper">
  <div id="link-wrapper">
    <div class="row">
      <h2 class="span4">友情链接</h2>
    </div>
    <div class='row' id="friend-links">
      <div class='span4'>
        <a href="http://www.kuaidi100.com/all/sf.shtml" target="_blank">顺丰快递查询</a>
      </div>
    </div>
  </div>
  <div id="partner-wrapper">
    <div class="row">
      <h2 class="span4">合作商户</h2>
    </div>
    <div id="partners">
      <div class='row'>
        <div class='span4'>
          <%= link_to image_tag('partner/logo-fields.jpg', width: '250'), 'http://www.fieldschina.com/index.php?lang=zh' %>
        </div>
        <div class='span4'>
          <%= link_to image_tag('partner/logo-citylife.jpg', width: '150'), 'http://www.citylifechina.com' %>
        </div>
      </div>
      <div class='row'>
        <div class='span4'>
          <p class=''>甫田网，上海高端食材网上商城。为您家的餐桌带来安全、健康、高品质的美食。</p>
          <p class=''>上海甫田贸易有限公司（www.fieldschina.com）于2009年成立于上海，是一家致力于提供安全、健康、高端食品的电子商务公司。甫田由美籍有机农业种植专家创办，有着成熟的生鲜和干货产品供应链，并自建仓储和物流系统。</p>
        </div>
        <div class='span4'>
          <p class=''> 逸耘居成立于2004年，是上海市领先的酒店式公寓供应商，我们在市中心及周边古镇拥有数百套公寓。 </p>
          <p class=''> 逸耘居将为您提供室内装修、房屋清洁、设施维修与养护等全方位的服务，照料您生活的每一个细节，您就尽情享受生活吧！ </p>
        </div>
        </div>
        <div class="row">
          <div class='span4'>
            <%= link_to image_tag('partner/logo-evbuy.jpg', width: '250'), 'http://www.evbuy.cn' %>
          </div>
          <div class='span4'>
            <%= link_to image_tag('partner/logo-quafrica.jpg', width: '100'), 'http://www.quafrica.com' %>
          </div>
        </div>
        <div class='row'>
          <div class='span4'>
            <p class=''> 高瞻新能源汽车为客户提供新能源汽车经销、租赁、营运、配套服务和智能管理等一站式集成性的综合服务业务。客户只需要签署一个合同，就可以在一个单一的联系点解决车辆交付后的所有问题。</p>
            <p class=''>我们致力于同产业链各方进行战略合作、整合各种产品及服务、建立完整和便利的新能源汽车用户服务界面，以积极推动新能源汽车的应用和发展。</p>
          </div>
          <div class='span4'>
            <p class=''>卓非团队是一群年轻而充满活力的人，我们热爱这片充满神奇魅力的土地，我们全身心投入，愿意将这份最原始的喜悦和美丽，以最专业的专属定制方式，带给中国对旅行最挑剔的客人。</p>
            <p class=''>我们要做到的是，从最细致最真实的一面去打动即使是全世界最挑剔的客户。这些专属的旅游方案，将自始至终与非洲和非洲人民以独特的方式，野生动物和环境相连接。</p>
          </div>
      </div>
      <div class="row">
        <div class='span4'>
          <%= link_to image_tag('partner/logo-163.jpg', width: '160'), '' %>
        </div>
        <div class='span4'>
          <%= link_to image_tag('partner/logo-1caijing.jpg', width: '160'), '' %>
        </div>
      </div>
      <div class="row">
        <div class='span4'>
          <%= link_to image_tag('partner/logo-elle.jpg', width: '160'), '' %>
        </div>
        <div class='span4'>
          <%= link_to image_tag('partner/logo-sina.jpg', width: '160'), '' %>
        </div>
      </div>
      <div class="row">
        <div class='span4'>
          <%= link_to image_tag('partner/logo-sohu.jpg', width: '160'), '' %>
        </div>
        <div class='span4'>
          <%= link_to image_tag('partner/logo-tecent.jpg', width: '160'), '' %>
        </div>
      </div>
      <div class="row">
        <div class='span4'>
          <a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
        </div>
        <div class='span4'>
          <%= link_to image_tag('partner/logo-shengjiang.jpg', width: '160'), '' %>
        </div>
      </div>
    </div>
  </div>
</div>
