<div class="best-products">
  <div class="valentine">
    <div class="header">
      <%= image_tag "valentine/header.jpg" %>
    </div>

    <div id="product_list_one" class="product_list">
      <a class="link_1" href="/products/statice-limonium"></a>
      <a class="link_2" href="/products/green-breath"></a>
      <%= image_tag "valentine/product_list_one.jpg" %>
    </div>

    <div id="product_list_two" class="product_list">
      <a class="link_1" href="/products/the-one"></a>
      <a class="link_2" href="/products/matchless-roses"></a>
      <%= image_tag "valentine/product_list_two.jpg" %>
    </div>

    <div id="product_list_three" class="product_list">
      <a class="link_1" href="/products/heart-of-the-ocean"></a>
      <a class="link_2" href="/products/a-year-in-provence"></a>
      <%= image_tag "valentine/product_list_three.jpg" %>
    </div>

    <div class="product">
      <a href="/products/you-are-my-love-forever"><%= image_tag "valentine/you-are-my-life-forever.jpg" %></a>
    </div>

    <div class="footer">
      <a href="/collections/valentines-day/products">
        <%= image_tag "valentine/footer.jpg" %>
      </a>
    </div>
  </div>
</div>

