<tr>
  <td valign="top" style="padding-top:0; padding-bottom:0;">
    <table border="0" cellpadding="10" cellspacing="0" width="100%" class="templateDataTable">
      <tr>
        <th scope="col" valign="top" width="40%" class="dataTableHeading" mc:edit="data_table_heading00">
          产品名称
        </th>
        <th scope="col" valign="top" width="20%" class="dataTableHeading" mc:edit="data_table_heading01">
          数量
        </th>
      </tr>
      <% @summary_products_with_count.each do |product_with_count| %>
      <tr>
        <td valign="top" class="dataTableContent" mc:edit="data_table_content00">
          <%= product_with_count['name_zh'] %>
        </td>
        <td valign="top" class="dataTableContent" mc:edit="data_table_content00">
          <%= product_with_count['product_count'] %>
          <span>人工: </span>
          <%= find_product_count_from_collection(@summary_products_manual_with_count, product_with_count['name_zh']) %>
        </td>
      </tr>
      <% end %>
      <tr class="dataTableSummary">
        <td valign="top" class="dataTableContent" mc:edit="data_table_content00">
          合计
        </td>
        <td valign="top" class="dataTableContent" mc:edit="data_table_content00">
          <%= find_product_count_from_collection(@summary_products_with_count) %>
          <span>人工: </span>
          <%= find_product_count_from_collection(@summary_products_manual_with_count) %>
        </td>
      </tr>
    </table>
  </td>
</tr>

<% @daily_products_with_count.each do |result| %>
<tr>
  <td valign="top" style="padding-top:0; padding-bottom:0;">
    <table border="0" cellpadding="10" cellspacing="0" width="100%" class="templateDataTable verticalDataTable">
      <tr>
        <td> <p><h4 class='h4'><%= result[:date] %></h4></p> </td>
      </tr>
    </table>
  </td>
</tr>

<tr>
  <td valign="top" style="padding-top:0; padding-bottom:0;">
    <table border="0" cellpadding="10" cellspacing="0" width="100%" class="templateDataTable">
      <tr>
        <th scope="col" valign="top" width="40%" class="dataTableHeading" mc:edit="data_table_heading00">
          产品名称
        </th>
        <th scope="col" valign="top" width="20%" class="dataTableHeading" mc:edit="data_table_heading01">
          数量
        </th>
      </tr>
      <% result[:result].each do |product_with_count| %>
      <tr>
        <td valign="top" class="dataTableContent" mc:edit="data_table_content00">
          <%= product_with_count['name_zh'] %>
        </td>
        <td valign="top" class="dataTableContent" mc:edit="data_table_content00">
          <%= product_with_count['product_count'] %>
          <span>人工: </span>
          <%= find_product_count_from_collection(@daily_products_manual_with_count, product_with_count['name_zh'], result[:date]) %>
        </td>
      </tr>
      <% end %>
      <tr class="dataTableSummary">
        <td valign="top" class="dataTableContent" mc:edit="data_table_content00">
          合计
        </td>
        <td valign="top" class="dataTableContent" mc:edit="data_table_content00">
          <%= find_product_count_from_collection(result[:result]) %>
          <span>人工: </span>
          <%= find_product_count_from_collection(@daily_products_manual_with_count, nil, result[:date]) %>
        </td>
      </tr>
    </table>
  </td>
</tr>
<% end %>
