<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
  <tr>
    <td valign="top">
      <!-- // Begin Module: Standard Content \\ -->
      <table border="0" cellpadding="20" cellspacing="0" width="100%">
        <tr>
          <td valign="top" class="bodyContent">
            <div mc:edit="std_content00">
              <h3 class='h3'><%= @topic %>备货提醒</h3>
              <p>截至到<%= l Time.now, format: :short %>, <%= @topic %>的备货需要如下:</p>
              <p style="color:red;">时间按发货日期来计算(未审核订单, 已经发货订单不计入)</p>
              <p style="color:red;">总数包含<%= @start_date.strftime("%m%d") %> - <%= @end_date.strftime("%m%d") %>共计<%= @days %>天<b>需要发货</b>的货源</p>
            </div>
          </td>
        </tr>

        <tr>
          <td valign="top" style="padding-top:0; padding-bottom:0;">
            <table border="0" cellpadding="10" cellspacing="0" width="100%" class="templateDataTable verticalDataTable">
              <tr>
                <td> <p><h4 class='h4'>备货总数</h4></p> </td>
              </tr>
            </table>
          </td>
        </tr>

        <tr>
          <td valign="top" style="padding-top:0; padding-bottom:0;">
            <table border="0" cellpadding="10" cellspacing="0" width="100%" class="templateDataTable">
              <tr>
                <th scope="col" valign="top" width="40%" class="dataTableHeading" mc:edit="data_table_heading00">
                  产品名称
                </th>
                <th scope="col" valign="top" width="20%" class="dataTableHeading" mc:edit="data_table_heading01">
                  数量
                </th>
              </tr>
              <tr>
                <td valign="top" class="dataTableContent" mc:edit="data_table_content00">
                  总数
                </td>
                <td valign="top" class="dataTableContent" mc:edit="data_table_content00">
                  <%= find_product_count_from_collection(@summary_products_with_count) %>
                  <span>上海: </span>
                  <%= find_product_count_from_collection(@summary_products_in_shanghai_with_count) %>
                </td>
              </tr>
              <% @summary_products_with_count.each do |product_with_count| %>
              <tr>
                <td valign="top" class="dataTableContent" mc:edit="data_table_content00">
                  <%= product_with_count['name_zh'] %>
                </td>
                <td valign="top" class="dataTableContent" mc:edit="data_table_content00">
                  <%= product_with_count['product_count'] %>
                  <span>上海: </span>
                  <%= find_product_count_from_collection(@summary_products_in_shanghai_with_count, product_with_count['name_zh']) %>
                </td>
              </tr>
              <% end %>
            </table>
          </td>
        </tr>

        <% @daily_products_with_count.each do |result| %>
        <tr>
          <td valign="top" style="padding-top:0; padding-bottom:0;">
            <table border="0" cellpadding="10" cellspacing="0" width="100%" class="templateDataTable verticalDataTable">
              <tr>
                <td> <p><h4 class='h4'><%= result[:date] %></h4></p> </td>
              </tr>
            </table>
          </td>
        </tr>

        <tr>
          <td valign="top" style="padding-top:0; padding-bottom:0;">
            <table border="0" cellpadding="10" cellspacing="0" width="100%" class="templateDataTable">
              <tr>
                <th scope="col" valign="top" width="40%" class="dataTableHeading" mc:edit="data_table_heading00">
                  产品名称
                </th>
                <th scope="col" valign="top" width="20%" class="dataTableHeading" mc:edit="data_table_heading01">
                  数量
                </th>
              </tr>
              <% result[:result].each do |product_with_count| %>
              <tr>
                <td valign="top" class="dataTableContent" mc:edit="data_table_content00">
                  <%= product_with_count['name_zh'] %>
                </td>
                <td valign="top" class="dataTableContent" mc:edit="data_table_content00">
                  <%= product_with_count['product_count'] %>
                  <span>上海: </span>
                  <%= find_product_count_from_collection(@daily_products_in_shanghai_with_count, product_with_count['name_zh'], result[:date]) %>
                </td>
              </tr>
              <% end %>
              <tr>
                <td valign="top" class="dataTableContent" mc:edit="data_table_content00">
                  合计
                </td>
                <td valign="top" class="dataTableContent" mc:edit="data_table_content00">
                  <%= find_product_count_from_collection(result[:result]) %>
                  <span>上海: </span>
                  <%= find_product_count_from_collection(@daily_products_in_shanghai_with_count, nil, result[:date]) %>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <% end %>
      </table>
      <!-- // End Module: Standard Content \\ -->
    </td>
  </tr>
</table>
