<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
  <tr>
    <td valign="top">
      <!-- // Begin Module: Standard Content \\ -->
      <table border="0" cellpadding="20" cellspacing="0" width="100%">
        <tr>
          <td valign="top" class="bodyContent">
            <div mc:edit="std_content00">
              <h3 class="h3"> 您关注的产品已经新到货啦 </h3>
              <p>亲爱的顾客:</p>
              <p>
              我们很高兴地通知您，您在花里关注过的<strong><%= @product.product_type_text %></strong><strong>"<%= @product.name_zh %>"</strong>已经有货了!
              </p>
              <p> 
                如果您还希望购买这款产品，要抓紧订购哦！
              </p>
            </div>
          </td>
        </tr>
        <tr>
          <td valign="top" style="padding-top:0; padding-bottom:0;">
            <table border="0" cellpadding="10" cellspacing="0" width="100%" class="templateDataTable verticalDataTable">
              <tr>
                <td> <p><h4 class='h4'>花篮信息</h4></p> </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td valign="top" style="padding-top:0; padding-bottom:0;">
            <table border="0" cellpadding="10" cellspacing="0" width="100%" class="templateDataTable">
              <tr>
                <th scope="col" valign="top" width="40%" class="dataTableHeading" mc:edit="data_table_heading00">
                  产品名称
                </th>
                <th scope="col" valign="top" width="20%" class="dataTableHeading" mc:edit="data_table_heading00">
                </th>
                <th scope="col" valign="top" width="20%" class="dataTableHeading" mc:edit="data_table_heading01">
                  库存数量
                </th>
                <th scope="col" valign="top" width="20%" class="dataTableHeading" mc:edit="data_table_heading02">
                  价格
                </th>
              </tr>
                <tr mc:repeatable>
                  <td valign="top" class="dataTableContent" mc:edit="data_table_content00">
                    <%= image_tag @product.assets.first.image(:thumb) %>
                  </td>
                  <td valign="top" class="dataTableContent" mc:edit="data_table_content00">
                    <%= link_to @product.name_zh, product_url(@product) %>
                  </td>
                  <td valign="top" class="dataTableContent" mc:edit="data_table_content01">
                    <%= @product.count_on_hand %>
                  </td>
                  <td valign="top" class="dataTableContent" mc:edit="data_table_content02">
                    <%= @product.price %>
                  </td>
                </tr>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <!-- // End Module: Standard Content \\ -->
    </td>
  </tr>
</table>
