<%= f.inputs "Customized Region Rule", for: :customized_region_rule_attributes, id: 'region_rules' do |builder| %>
  <%= builder.hidden_field :province_ids, value: @period_region_policy.customized_region_rule.province_ids.join(','), id: "region_rule_province_ids" %>

  <%= builder.hidden_field :city_ids, value: @period_region_policy.customized_region_rule.city_ids.join(','), id: "region_rule_city_ids" %> 

  <%= builder.hidden_field :area_ids, value: @period_region_policy.customized_region_rule.area_ids.join(','), id: "region_rule_area_ids" %>

  <div class="provinces">
  <% Province.includes(cities: :areas).each do |province| %>
    <div pid="<%= province.id %>" name="<%= province.name %>" available="<%= @period_region_policy.customized_region_rule.province_ids.include?(province.id.to_s) ? "1" : "0" %>">
      <% province.cities.each do |city| %>
        <div cid="<%= city.id %>" name="<%= city.name %>" available="<%= @period_region_policy.customized_region_rule.city_ids.include?(city.id.to_s) ? "1" : "0" %>">
          <% city.areas.each do |area| %>
            <div aid="<%= area.id %>" name="<%= area.name %>" available="<%= @period_region_policy.customized_region_rule.area_ids.include?(area.id.to_s) ? "1" : "0" %>"></div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
  </div>

  <ul id="province_list">
  </ul>

  <button id="save_region_rule" class='hide'>Save</button>
<% end %>