<div id="product-side">
  <h2 class="product-name"><span><%= @product.name %></span></h2>
  <% unless @product.original_price.nil? %>
  <p class="pro-price old-price"> <%= @product.original_price %> RMB </p>
  <% end %>
  <p class="pro-price"> <%= @product.price %> <%=t 'currency' %> </p>
  <p class="meta">(<%=t 'delivery_charge' %>)</p>

  <% if @product.count_on_hand > 0 %>
    <p>
    <%= link_to t('flower_basket'), current_order_path, :class => 'purchase button', data: { product: @product.id } %>
    </p>
  <% else %>
    <p><%=t 'soldout' %></p>
    <small class="meta"><%=t 'join_queue' %></small>
  <% end %>
  <p>
    <%= link_to t('more') + @product.collection.display_name, collection_path(@product.collection), class: 'more-collection' %>
  </p>

  <%= render 'jiathis_buttons' %>

</div>


<div id="product-summary" class="span3 offset1">
  <%= markdown @product.inspiration %>
</div>
