<div id="product-info">
  <% unless @product.description.empty? %>
    <h3><%= t('product_info').capitalize %></h3>
    <p class="size">
      <span><%= t('size').capitalize %>: </span>
      <span><%= t('height').capitalize %> <%= @product.height %> cm </span>
      <span><%= t('width').capitalize %> <%= @product.width %> cm </span>
      <span><%= t('depth').capitalize %> <%= @product.depth %> cm </span>
    </p>
    <%= markdown @product.description %>
  <% end %>
</div>
