<div id="product-side">
  <h2 class="product-name"><span><%= @product.name %></span></h2>
  <% unless @product.original_price.nil? %>
  <p class="pro-price old-price"> <%= @product.original_price %> RMB </p>
  <% end %>
  <p class="pro-price"> <%= @product.price %> <%=t 'currency' %> </p>
  <p class="meta">(<%=t 'views.product.delivery_charge' %>)</p>

  <% if @product.published && @product.count_on_hand > 0 %>
    <p>
    <%= link_to t('views.product.flower_basket'), current_order_path, class: 'purchase button', data: { product: @product.id } %>
    </p>
  <% else %>
    <p><%=t 'views.product.soldout' %></p>
    <small class="meta"><%=t 'views.product.join_queue' %></small>
  <% end %>

  <p>
    <%= link_to t('views.product.add_reminder'), new_reminder_path(product_id: @product.id), class: 'link-button' %>
  </p>

  <%= render 'jiathis_buttons' %>

  <p>
    <% unless @product.collection.nil? %>
      <%= link_to t('more') + @product.collection.show_name, collection_path(@product.collection), class: 'link-button' %>
    <% end %>
  </p>

</div>


<div id="product-summary" class="span3 offset1">
  <%= markdown @product.inspiration %>
</div>
