<h1>Listing products</h1>

<% @products.each do |product| %>
<table>
  <tr>
    <th>Chinese Name</th>
    <th>English Name</th>
    <th>Description</th>
    <th>Price</th>
  </tr>

  <tr>
    <td><%= product.name_cn %></td>
    <td><%= product.name_en %></td>
    <td><%= markdown product.description %></td>
    <td><%= product.price %></td>
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
