<% content_for :title do %>
  <%= @product.name %>
<% end %>

<% content_for :keywords do %>
  <%= @product.meta_keywords %>
<% end %>

<% content_for :description do %>
  <%= @product.meta_description %>
<% end %>

<% content_for :sidebar do %>
  <%= render 'product_meta' %>
<% end %>

<div id="product-wrapper">
  <%= render 'product_img' %>
  <%= render 'product_info' %>
</div>

<% unless @suggest_products.blank? %>
  <%= render partial: 'suggestion' %>
<% end %>