<div class="product-view">
  <div class="product-essential row">
    <div class="product-img-box span5 ">
      <div class="zoom-container layout_default">
        <div class="main-image">
          <%= link_to image_tag(@assets.first.image.url(:medium), class: 'zoom-image'),
            @assets.first.image.url, id: 'zoom', title:@product.name_cn %>
        </div>

        <div class="more-views">
          <div class="zoom-gallery slider">
            <% @assets.each do |asset| %>
              <div class="slide">
                <a href="" class="zoom-thumbnail">
                  <%= image_tag asset.image.url(:thumb), alt: "product image" %>
                </a>
              </div>
            <% end %>
            <% @product_parts.each do |part| %>
              <div class="slide">
                <a href="" class="zoom-thumbnail">
                  <%= image_tag part.asset.image.url(:thumb), alt: "product image" %>
                </a>
              </div>
            <% end %>
          </div>
        </div>

        <div class="more-views-arrow prev"></div>
        <div class="more-views-arrow next"></div>

      </div>
    </div>

    <div class="product-info span7">
      <div class="white-back">
        <div class="product-name">
          <h2><%= @product.name_cn %></h2>
        </div>

        <div class="price-box">
          <p class="old-price">
            <span class="price-label">日常价:</span>
            <span class="price" id="old-price-329">￥4,400.00</span>
          </p>

          <p class="special-price">
            <span class="price-label">特惠价:</span>
            <span class="price" id="product-price-329" style="color: rgb(76, 198, 255); ">￥<%= @product.price %></span>
          </p>
          <p class="availability in-stock">库存: <span><%= @product.available ? "有货" : "无货" %></span></p>
        </div>
        <div class="short-description">
          <p>简短描述</p>
          <div class="std">
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
          </div>
        </div>
        <div class="product-options" id="product-options-wrapper">
          <div class="add-to-cart">
            <button type="submit"  class="button btn-cart" >点击购买</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="product-tabs-content row" id="product_tabs_description_contents" >
    <h2>详细信息</h2>
    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
    <p> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
  </div>
</div>
