<div class="product-view">
  <div class="product-essential row">
    <div class="product-img-box span5 ">
      <div class="zoom-container layout_default">
        <div class="main-image">
          <%= link_to image_tag(@asset_urls.first[:medium_url], class: 'zoom-image'),
            @asset_urls.first[:full_url], id: 'zoom', title:@product.name_cn %>
        </div>

        <div class="more-views">
          <div class="zoom-gallery slider">
            <% @asset_urls.each do |asset_url| %>
              <div class="slide">
                <a href="" class="zoom-thumbnail"
                  data_url='<%= link_to image_tag(asset_url[:medium_url], class: 'zoom-image'), asset_url[:full_url], id:'zoom', title:@product.name_cn %>'>
                  <%= image_tag asset_url[:medium_url], alt: "product image" %>
                </a>
              </div>
            <% end %>
          </div>
        </div>

        <div class="more-views-arrow prev"></div>
        <div class="more-views-arrow next"></div>

      </div>
      <small class="meta_info">
       商品图片仅作参考，所有产品均有专业花艺师手工独立制作，我们保证采用的主花材不变，辅花将随季节变动进行适当调整。 
     </small>
    </div>

    <div class="product-info span7">
      <div class="white-back">
        <div class="product-name">
          <h2><%= @product.name_cn %></h2>
        </div>

        <div class="price-box">
          <% unless @product.original_price.nil? %>
          <p class="old-price">
            <span class="price-label">日常价:</span>
            <span class="price" id="old-price-329">￥<%= @product.original_price %></span>
          </p>
          <% end %>

          <p class="special-price">
            <span class="price-label">特惠价:</span>
            <span class="price" id="product-price-329">￥<%= @product.price %></span>
          </p>
          <p class="meta_info">特惠价格包含运费, 运送范围仅限上海城区</p>
        
          <p class="availability in-stock">库存: <span><%= @product.available ? "有货" : "无货" %></span></p>
          <p class="size">
            <span>大小: </span>
            <span> 高 <%= @product.height %> </span> x
            <span> 宽 <%= @product.width %> </span> x
            <span> 长 <%= @product.depth %> </span>
          </p>
        </div>
        <div class="short-description">
          <p >简短描述</p>
          <div class="std">
            <%= @product.intro %>
          </div>
        </div>
        <div class="product-options" id="product-options-wrapper">
          <a href='/order'><button type="submit"  class="readmore button" >点击购买</button></a>
        </div>
        <p class="extra_info meta_info"> 长安花针对所有的货品提供订阅服务。您可以在订单中选取多个产品，我们会根据您的选择，定期上门进行产品的更换。订阅细节会在我们收到订单后跟您具体沟通。 </p>

      </div>
    </div>
  </div>

  <div class="product-tabs-content row" id="product_tabs_description_contents" >
    <div class="span12">
    <h2>详细信息</h2>
    <%= markdown @product.description %>
    <h2>花材信息</h2>
    <div id="product-part-details">
      <% @product_parts.each_with_index do |part, index| %>
        <% if index % 2 == 0 %>
        <div class="row">
        <% end %>

          <div class="span6 product-part-single">
            <%= image_tag part.asset.image(:thumb), :alt => 'product part image' %>
            <div class="product-part-text">
              <h4>
                <%= part.name_cn %>
                <%= part.name_en %>
              </h4>
              <p>
                <%= part.description %>
              </p>
            </div>
          </div>

        <% if index % 2 == 1 || index == @product_parts.length - 1 %>
        </div>
        <% end %>
      <% end %>
    </div>
    <%= markdown @product.description2 %>
  </div>
</div>
</div>
