<% content_for :title do %>
  <%= @product.meta_title.blank? ? @product.name : @product.meta_title %>
<% end %>

<% content_for :keywords do %>
  <%= @product.meta_keywords %>
<% end %>

<% content_for :description do %>
  <%= @product.meta_description %>
<% end %>

<% content_for :sidebar do %>
  <%= render 'product_meta' %>
<% end %>

<div id="product-wrapper">
  <%= render 'product_img' %>
  <%= render 'product_info' %>
</div>

<% unless @related_products.blank? %>
  <div class="suggestion-on-product">
    <p><%= t('views.order.you_may_also_like') %></p>
    <ul class="suggestion-list">
      <% @related_products.each do |product| %>
        <li class="suggestion-cell">
        <%= link_to image_tag(product.img(:medium), width: '100'), product_path(product), title: product.name, :target => "_blank" %>
        <div class='suggestion-link'>
          <%= link_to product.name, product_path(product), :target => "_blank" %>
        </div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
