<ul id="product-nav" class="nav">
  <!-- TODO switch this to product related path -->
  <li> <%= link_to '八十岁', '/', title: '八十岁' %> </li>
  <li> <%= link_to '明天日出时分', '/', title: '八十岁' %> </li>
  <li> <%= link_to '春天夏天', '/', title: '八十岁' %> </li>
  <%= render 'devise/menu/login_items' %>
  <%= render 'devise/menu/registration_items' %>
</ul>