<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- Facebook sharing information tags -->
<meta property="og:title" content="*|MC:SUBJECT|*" />
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
<center>
  <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable">
    <tr>
      <td align="center" valign="top" style="padding-top:20px;">
        <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer">
          <tr>
            <td align="center" valign="top">
              <!-- // Begin Template Header \\ -->
              <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader">
                <tr>
                  <td class="headerContent">
                    <%= image_tag 'logo.png' %>
                  </td>
                </tr>
              </table>
              <!-- // End Template Header \\ -->
            </td>
          </tr>
          <tr class="main-content">
            <td align="center" valign="top" >
              <!-- // Begin Template Body \\ -->
              <%= yield %>
              <!-- // End Template Body \\ -->
            </td>
          </tr>
          <tr>
            <td align="center" valign="top" style="padding-bottom:20px; padding-top: 20px;">
              <table border="0" cellpadding="15" cellspacing="0" class="templateButton">
                <tr>
                  <td valign="right" class="templateButtonContent">
                    <p>
                    <%= link_to '花里花店', root_url %>
                    </p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td align="center" valign="top">
              <!-- // Begin Template Footer \\ -->
              <table border="0" cellpadding="10" cellspacing="0" width="600" id="templateFooter">
                <tr>
                  <td valign="top" class="footerContent">

                    <!-- // Begin Module: Transactional Footer \\ -->
                    <table border="0" cellpadding="10" cellspacing="0" width="100%">
                      <tr>
                        <td valign="top">
                          <div mc:edit="std_footer">
                            如有任何问题, 请联系客服电话：400-087-8899
                            <br />
                            或发送邮件至 <%= mail_to 'support@hua.li' %>
                          <br />
                            <em>Copyright &copy; 2012 - <%= Time.now.year %>, All rights reserved.</em>
                          </div>
                        </td>
                      </tr>
                    </table>
                    <!-- // End Module: Transactional Footer \\ -->
                  </td>
                </tr>
              </table>
              <!-- // End Template Footer \\ -->
            </td>
          </tr>
        </table>
        <br />
      </td>
    </tr>
  </table>
</center>
</body>
</html>
