<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= content_for?(:title) ? yield(:title) : "" %> | 花里花店</title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "花里，专注于花盒礼品配送的在线花店，提供优质的鲜花速递配送服务，并承接定制与个性化礼物方案，致力于打造中国最好的网上花店。" %>">
    <meta name="keywords" content="<%= content_for?(:keywords) ? yield(:keywords) : ''%> 花里精品花店 网上订花送花 鲜花速递配送 定制花盒礼品">
    <meta name="author" content=""/>
    <!--[if lt IE 9]><%= javascript_include_tag 'html5shiv' %><![endif]-->
    <%= stylesheet_link_tag "application", :media => "all" %>
    <!--[if IE 6]><%= stylesheet_link_tag 'ie6' %><![endif]-->
    <!--[if IE 7]><%= stylesheet_link_tag 'ie7' %><![endif]-->
    <%= csrf_meta_tags %>
  </head>
  <body class="desktop <%= controller_name %> <%= action_name %>">
    <div id="wrapper" class="container">
      <%= render 'layouts/messages' %>
      <%= render 'layouts/header' %>
      <div id="main" class="row">
        <div id="content" class="<%= params[:controller] + '#' + params[:action] %> span12" role="main">
          <%= yield %>
        </div>
      </div>
      <%= render 'layouts/footer' %>
    </div> <!--! end of #container -->
  </body>
    <%= javascript_include_tag "application"  %>
    <%= javascript_include_tag "ga" %>
</html>
